﻿@model Ashirvad.Data.UserWiseRightsEntity
<div class="col-md-12">
    <form id="fRoleRightDetail">


        @*@if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
        {
            <div class="col-md-4">
                @Html.Label("Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BranchName" id="BranchName" class="form-control requiredDDL" alt="Branch">
                    <option value="0">--Select Branch--</option>
                </select>
                @Html.HiddenFor(x=>x.branchinfo.BranchID)
            </div>
        }*@

    <div class="col-md-4" id="drights">
        @Html.Label("User", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="UserName" id="UserName" class="form-control requiredDDL" alt="User">
            <option value="0">--Select User--</option>
        </select>
        @Html.HiddenFor(x => x.userinfo.UserID)
        @Html.HiddenFor(x=>x.UserWiseRightsID)
    </div>
        <div class="col-md-4" id="drights">
            @Html.Label("Role", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            <select name="RoleName" id="RoleName" class="form-control requiredDDL" alt="Role">
                <option value="0">--Select Role--</option>
             @Html.HiddenFor(x=>x.Roleinfo.RoleID)
            </select>
        </div>
        <div class="form-group">
            <div class="col-md-4" style="text-align: right;">
                <br />
                <a onclick="return SaveUserWiseRight();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="@Url.Action("UserRightMaintenance","UserRights", new { @UserRightID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>
    </form>
</div>
<div class="course" id="UserDetails">

</div>
<div class="col-md-12">
    <div id="rightsdiv" style="max-height: 200px; overflow-y: scroll !important">
        @{
            Html.RenderPartial("RightsDataTable", new ViewDataDictionary(Model.list));

        }
    </div>
</div>