@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.BranchAgreementEntity>
<table style="width: 100%;padding:10px;" id="agreementtable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Branch Name
            </th>
            <th>
                Agreement From Date
            </th>
            <th>
                Agreement To Date
            </th>
            <th>
                Amount
            </th>
            <th>
                Status
            </th>
            <th style="text-align:center;">
                Edit
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @item.BranchData.BranchName
            </td>
            <td>
                @item.AgreementFromDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.AgreementToDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.Amount
            </td>
            <td>
                @if (item.RowStatusData.RowStatusId == 1)
                {
                    @item.RowStatusData.RowStatusId.ToString("Active")
                }
                else
                {
                    @item.RowStatusData.RowStatusId.ToString("Inactive")
                }
            </td>
            <td>
                <a href="@Url.Action("AgreementMaintenance", "Agreement", new { agreeID = item.AgreementID })">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
        </tr>
    }*@
</table>

