@model Ashirvad.Data.BranchEntity
<form id="fBranchDetail">
    <div class="form-group" id="dInformation">
        <div class="col-md-12">
            @Html.Label("Brand Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.BranchName, new { @class = "form-control required", @alt = "Branch Name", autocomplete = "off" })
            @Html.HiddenFor(x => x.BranchID)
        </div>
        <div class="col-md-12">
            @Html.Label("Document", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            <input class="file-upload fileRequired" alt="Branch Image" id="fuBranchImage" name="ImageFile" type="file" accept="image/*" />
            @Html.HiddenFor(x => x.ImagePath)
        </div>
        <div class="form-group">
            <div class="col-md-12">
                @Html.Label("Status", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12">
                <table id="rdbResult" class="radioboxlist form-control">
                    <tbody>
                        <tr>
                            <td>
                                <input type="radio" name="Status" id="rowStaActive" value="Active" />
                                <lable for="rowStaActive">Active</lable>
                            </td>
                            <td>
                                <input type="radio" name="Status" id="rowStaInactive" value="Inactive" style="margin-left:10px" />
                                <lable for="rowStaInactive">Inactive</lable>
                                @Html.HiddenFor(x => x.RowStatus.RowStatusId)
                            </td>
                        </tr>
                    </tbody>
                </table>
                @*@Html.RadioButtonFor(x => x.RowStatus.RowStatusId, "Active") <span>Active</span>
                    @Html.RadioButtonFor(x => x.RowStatus.RowStatusId, "Inactive")<span>Inactive</span>*@
                @*@Html.RadioButton("RequestForSample", "Active", htmlAttributes: new { @class = "radioboxlist" }) Active
                    @Html.RadioButton("RequestForSample", "Inactive", htmlAttributes: new { @class = "radioboxlist" }) Inactive*@
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-12" style="text-align: right;">
                <a href="#" onclick="return SaveBranch();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="@Url.Action("BranchMaintenance","Branch", new { @branchID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>
    </div>
</form>