@model Ashirvad.Data.AnnouncementEntity
<form id="fAnnouncementDetail">
    <div class="form-group" id="dInformation" style="padding-top:10px">
        <div class="col-md-12">
            @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            <table id="rdbType" class="radioboxlist form-control">
                <tbody>
                    <tr>
                        <td>
                            <input type="radio" name="Type" id="rowStaAll" value="All" checked />
                            <lable for="rowStaAll">All</lable>
                        </td>
                        <td>
                            <input type="radio" name="Type" id="rowStaBranch" value="Branch" style="margin-left:10px" />
                            <lable for="rowStaBranch">@SessionContext.Instance.LoginUser.BranchInfo.BranchName</lable>
                        </td>
                    </tr>
                </tbody>
            </table>
            @Html.HiddenFor(x => x.AnnouncementID)
            @Html.HiddenFor(x => x.BranchData.BranchID)
        </div>
        <div class="col-md-12">
            @Html.Label("Announcement", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.AnnouncementText, new { @class = "form-control required", @alt = "Announcement", autocomplete = "off" })
        </div>
        <div class="form-group AnnouncementMasterCreate">
            <div class="col-md-12" style="text-align: right;">
                <br />
                <a onclick="return SaveAnnouncement();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="@Url.Action("AnnouncementMaintenance","Anouncement", new { @annoID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>
    </div>
</form>