@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.AttendanceEntity>
@{
    Layout = null;
    int count = 0;
}
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>Student Details</th>
            <th>
                Attendance Date
            </th>
            <th>
                Branch Name
            </th>
            <th>
                Standard
            </th>
            <th>
                Batch Time
            </th>
        </tr>
    </thead>

        @if (Model != null)
        {
            foreach (var item in Model)
            {
                count++;
                <tr>
                    <td class="tag">
                        <img src="~/ThemeData/images/plus.png" style="width: 10px; height: 10px;margin-left:20px;" />
                        <div style="display: none">
                            <table style="width: 100%;" id="subcategorytbl2" class="table table-bordered dataTable no-footer">
                                <thead>
                                    <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                                        <th>
                                            Student Name
                                        </th>
                                        <th>
                                            Absent / Present
                                        </th>
                                        <th>
                                            Remark
                                        </th>
                                    </tr>
                                </thead>
                       
                                    @foreach (var item1 in item.AttendanceDetail)
                                    {

                                        <tr>
                                            <td>
                                                @item1.Student.FirstName @item1.Student.LastName
                                            </td>
                                            <td>
                                                @if (item1.IsAbsent == true)
                                                {
                                                    <lable>
                                                        Absent
                                                    </lable>
                                                }
                                                else
                                                {
                                                    <lable>
                                                        Present
                                                    </lable>
                                                }
                                            </td>
                                            <td>
                                                @item1.Remarks
                                            </td>
                                        </tr>
                                    }
                            </table>
                        </div>
                    </td>
                    <td>@item.AttendanceDate.ToString("dd/MM/yyyy")</td>
                    <td>
                        @item.Branch.BranchName
                    </td>
                    <td>
                        @item.Standard.Standard
                    </td>
                    <td>
                        @item.BatchTypeText
                    </td>
                </tr>
            }
        }
</table>

<script type="text/javascript">
    //Assign Click event to Plus Image.

    $(".tag").on("click", "img[src*='plus.png']", function () {
       
        $(this).closest("tr").after("<tr><td></td><td colspan = '999'>" + $(this).next().html() + "</td></tr>");
        $(this).attr("src", "../ThemeData/images/minus.png");
    });
    //Assign Click event to Minus Image.
    $(".tag").on("click", "img[src*='minus.png']", function () {
        $(this).attr("src", "../ThemeData/images/plus.png");
        $(this).closest("tr").next().remove();
    });
</script>
<script>
    $(document).ready(function () {

        $('#studenttbl').DataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true
        });
        $('#subcategorytbl2').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": false,
            "bInfo": false,
            "bAutoWidth": false
        });
    });</script>
