@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.GalleryEntity>

<table style="width: 100%;" id="videotable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Video
            </th>

            <th>
                Description
            </th>
            <th>
                Edit
            </th>
            <th class="VideoDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.FilePath" id="videoDownload" download="@item.FileName"><img src="~/ThemeData/images/cloud-download-alt-solid-svg.png" /></a>
                @Html.HiddenFor(x => item.UniqueID)
                <input hidden id="UniqID" value="@item.UniqueID" />
            </td>
            <td>
                @item.Remarks
            </td>
            <td>
                <a href="@Url.Action("VideosMaintenance", "Videos", new { videoID = item.UniqueID})">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
            <td class="VideoDelete">
                <a href="#" onclick="RemoveVideos(@item.UniqueID);">
                    <img src="~/ThemeData/images/delete.png" />
                </a>
            </td>
        </tr>
    }*@

</table>


