@model Ashirvad.Data.AttendanceEntity
<form id="fAttendanceReportDetail">
    <div class="form-group" id="dInformation">
        @Html.Hidden("JsonData", new { @Id = "JsonData" })
        @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
        {
            <div class="col-md-3">
                @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BranchName" id="BranchName" class="form-control requiredDDL select2" alt="Branch">
                    <option value="0">--Select Branch--</option>
                </select>
                @Html.HiddenFor(x => x.Branch.BranchID)
            </div>
            <div class="col-md-3">
                @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="StandardName" id="StandardName" class="form-control requiredDDL select2" alt="Standard">
                    <option value="0">--Select Standard--</option>
                </select>
                @Html.HiddenFor(x => x.Standard.StandardID)
            </div>
            <div class="col-md-3">
                @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BatchTime" id="BatchTime" class="form-control requiredDDL select2" alt="Batch Time">
                    <option value="0">--Select Batch Time--</option>
                    <option value="1">Morning</option>
                    <option value="2">AfterNoon</option>
                    <option value="3">Evening</option>
                </select>
                @Html.HiddenFor(x => x.BatchTypeID)
                @Html.HiddenFor(x => x.BatchTypeText)
            </div>
            <div class="col-md-3">
                @Html.Label("Attendance Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <div id="datepickerattendance" class="input-group date" data-date-format="dd/mm/yyyy">
                    @if (Model == null)
                    {
                        @Html.TextBoxFor(x => x.AttendanceDate, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control required", @alt = "Attendance Date", autocomplete = "off", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.AttendanceDate, Model.AttendanceDate.ToString("dd/MM/yyyy"), new { @class = "form-control required", autocomplete = "off", @readonly = "readonly", @alt = "Attendance Date" })
                    }
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="margin-top: 1%; text-align: right">
                    <a onclick="ValidateAttendanceData();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                        <span class="ladda-label">
                            Filter
                        </span>
                        <span class="ladda-spinner"></span>
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="col-md-3" style="display: none;">
                @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BranchName" id="BranchName" class="form-control" alt="Branch">
                    <option value="0">--Select Branch--</option>
                </select>
                @Html.HiddenFor(x => x.Branch.BranchID)
            </div>
            <div class="col-md-3">
                @Html.Label("Select Course", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="CourseName" id="CourseName" class="form-control requiredDDL select2" alt="Course">
                    <option value="0">--Select Course--</option>
                </select>
                @Html.HiddenFor(x => x.BranchCourse.course_dtl_id)
            </div>
            <div class="col-md-3">
                @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="StandardName" id="StandardName" class="form-control requiredDDL select2" alt="Standard">
                    <option value="0">--Select Standard--</option>
                </select>
                @Html.HiddenFor(x => x.BranchClass.Class_dtl_id)
            </div>
            <div class="col-md-3">
                @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BatchTime" id="BatchTime" class="form-control requiredDDL select2" alt="Batch Time">
                    <option value="0">--Select Batch Time--</option>
                    <option value="1">Morning</option>
                    <option value="2">AfterNoon</option>
                    <option value="3">Evening</option>
                </select>
                @Html.HiddenFor(x => x.BatchTypeID)
                @Html.HiddenFor(x => x.BatchTypeText)
                @Html.HiddenFor(x => x.AttendanceDatetxt)
            </div>
            <div class="col-md-2">
                @Html.Label("Attendance Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <div id="datepickerattendance" class="input-group date" data-date-format="dd/mm/yyyy">
                    @if (Model == null)
                    {
                        @Html.TextBoxFor(x => x.AttendanceDate, null, new { onchange = "DateConvert(this,'AttendanceDatetxt')", @class = "form-control", @alt = "Attendance Date", autocomplete = "off", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.AttendanceDate, Model.AttendanceDate.ToString("dd/MM/yyyy"), new { onchange = "DateConvert(this,'AttendanceDatetxt')", @class = "form-control", autocomplete = "off", @readonly = "readonly", @alt = "Attendance Date" })
                    }
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-1" style="margin-top: 25px; text-align: right">
                <a onclick="ValidateAttendanceData();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Filter
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        }
    </div>
</form>