@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.StudentEntity>
@{

    Layout = null;
}
<style>
    .table > tbody > tr > th, .table > tbody > tr > td, .table > tfoot > tr > td{
        padding: 4px !important;
    }
    .remark{
        height: 30px;
        padding-left: 5px;
        width: 70%;
    }
</style>
<table style="width: 100%;" id="attendancetable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Student G.R.No
            </th>
            <th>
                Student Name
            </th>
            <th>
                Present / Absent
            </th>
            <th>
                Remakrs
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.GrNo
                        @Html.HiddenFor(x => item.GrNo)
                        @Html.HiddenFor(x => item.StudentID)
                    </td>
                    <td>
                        @item.FirstName @item.LastName
                    </td>
                    <td>
                        <input type="checkbox" name="cb" value="@item.StudentID" id="cb" />  Absent
                    </td>
                    <td>
                        @Html.TextBox("Remarks", null, new { @id = "Remarks", @class = "remark", @alt = "Remarks", autocomplete = "off" })
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<div class="form-group">
    <div class="col-md-12" style="text-align: right;">
        <a href="#" onclick="return SaveAttendance();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
            <span class="ladda-label">
                Save
            </span>
            <span class="ladda-spinner"></span>
        </a>
        <a href="@Url.Action("Index","AttendanceEntry")" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
            <span class="ladda-label">
                Cancel
            </span>
            <span class="ladda-spinner"></span>
        </a>
    </div>
</div>

<script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {

        $('#studenttbl').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true
        });

    });
</script>