<div class="row">
    <div class="col-md-3">
        @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("Branch", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Branch---", Value = "-1" },
                        new SelectListItem{ Text="Branch", Value = "1" },
                        }, new { @class = "form-control", id = "Branch" })
    </div>
    <div class="col-md-3">
        @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("Standard", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Standard---", Value = "-1" },
                        new SelectListItem{ Text="Standard", Value = "1" },
                        }, new { @class = "form-control", id = "Standard" })
    </div>
    <div class="col-md-3">
        @Html.Label("Select Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("BatchTime", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Batch-Time---", Value = "-1" },
                        new SelectListItem{ Text="Morning", Value = "1" },
                        new SelectListItem{ Text="AfterNoon", Value = "2" },
                        new SelectListItem{ Text="Evening", Value = "3" },
                        }, new { @class = "form-control", id = "BatchTime" })
    </div>
    <div class="col-md-3">
        @Html.Label("Test Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("TestDate", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Test-Date---", Value = "-1" },
                        new SelectListItem{ Text="Test Date", Value = "1" },
                        }, new { @class = "form-control", id = "TestDate" })
    </div>
    <div class="col-md-3">
        <label>Subject<span class="required">*</span></label>
        @Html.DropDownList("Subject", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Subject---", Value = "-1" },
                        new SelectListItem{ Text="Subject", Value = "1" },
                        }, new { @class = "form-control", id = "BatchTime" })
    </div>
    <div class="col-md-12" style="text-align: right;">
        <button class="btn btn-bitbucket btn-flat" OnClick="btnFilter_Click"><i class="fa fa-filter"></i>&nbsp;Filter</button>
        <button class="btn btn-bitbucket bg-gray btn-flat" OnClick="btnReset_Click"><i class="fa fa-times"></i>&nbsp;Reset</button>
    </div>
</div>


