@model List<Ashirvad.Data.CompetitionAnswerSheetEntity>

@{ ViewBag.Title = "CompetitionAnswerSheetMaintenance";
    Layout = "~/Views/Shared/_Layout.cshtml"; }


<section class="content">
    <div class="row">
        <div class="messagealert" id="alert_container"></div>
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Competition Answer Sheet</h3>
                </div>
                <div class="box-body" style="padding:20px;">
                    <table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
                        <thead>
                            <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                                <th>
                                    Submit Date
                                </th>
                                <th>
                                    Branch Name
                                </th>
                                <th>
                                    Course
                                </th>
                                <th>
                                    Standard
                                </th>
                                <th>
                                    Student Name
                                </th>
                                <th>
                                    Download  AnswerSheet
                                </th>
                               
                                <th>
                                    Remarks
                                </th>
                                <th>
                                    Action
                                </th>
                            </tr>
                        </thead>

                        @if (Model != null)
                        {
                            foreach (var item in Model)
                            {
                                string StatusText = item.Status == 0 ? "Pending" : "Done";
                                <tr>
                                    <td>
                                        @item.SubmitDate.ToString("dd/MM/yyyy")

                                    </td>
                                    <td>
                                        @item.branchInfo.BranchName
                                    </td>
                                    <td>
                                        @item.studentInfo.BranchClass.BranchCourse.course.CourseName
                                    </td>
                                    <td>
                                        @item.studentInfo.BranchClass.Class.ClassName
                                    </td>

                                    <td>
                                        @item.studentInfo.FirstName @item.studentInfo.LastName
                                    </td>
                                    
                                    <td style="text-align:center;">
                                        <a onclick="DownloadAnsdetail('@item.competitionInfo.CompetitionID', '@item.studentInfo.StudentID', '@item.competitionInfo.CompetitionDt', '@item.studentInfo.FirstName @item.studentInfo.LastName', '@item.studentInfo.BranchClass.Class.ClassName')">
                                            <img src="~/ThemeData/images/cloud-download-alt-solid-svg.png" style="height:35px;width:35px" />
                                        </a>
                                    </td>
                                   
                                    <td>
                                        @Html.TextBoxFor(x => item.Remarks, new { @class = "form-control required", @alt = "Remarks", autocomplete = "off", Id = "Remark_" + item.competitionInfo.CompetitionID + item.studentInfo.StudentID + "" })

                                    </td>
                                    <td>
                                        <a onclick="UpdateCompetition(@item.competitionInfo.CompetitionID, @item.studentInfo.StudentID);" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                                            <span class="ladda-label">
                                                Save
                                            </span>
                                            <span class="ladda-spinner"></span>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                    </table>
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script src="~/scripts/app/competitionansdetails.js"></script>
        <script>
            $(document).ready(function () {

                $('#studenttbl').DataTable({
                    "bPaginate": true,
                    "bLengthChange": false,
                    "bFilter": true,
                    "bInfo": true,
                    "bAutoWidth": true,
                    "order": [[0, "desc"]]
                });
            });</script>
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }</script>
    }
</section>

