@model Ashirvad.Data.AboutUsEntity
<form id="fAboutUsDetails">
    <div class="form-group" id="dInformation">
        <div class="col-md-12">
            @Html.Label("About us", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextArea("Aboutus", null, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="col-md-3">
            @Html.Label("Website Url", htmlAttributes: new { @class = "control-label" })
            @Html.TextBoxFor(x => x.WebsiteURL, new { @class = "form-control", autocomplete = "off" })
            @Html.HiddenFor(x => x.AboutUsID)
            @Html.HiddenFor(x => x.BranchInfo.BranchID)
            @Html.HiddenFor(x => x.HeaderImage)
            @Html.HiddenFor(x => x.HeaderImageName)
        </div>
        <div class="col-md-3">
            @Html.Label("Email ID", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.EmailID, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="col-md-3">
            @Html.Label("Contact No", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.ContactNo, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="col-md-3">
            @Html.Label("Whatsapp No", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.WhatsAppNo, new { @class = "form-control", autocomplete = "off" })
        </div>
        <div class="col-md-3">
            @Html.Label("Header Image", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            <input class="file-upload fileRequired" alt="Header Image" id="fuHeaderImage" name="FileInfo" type="file" accept="image/*" />
            @Html.HiddenFor(x => x.HeaderImageText, htmlAttributes: new { @class = "control-label fileRequired2" })
        </div>
    </div>
</form>