@model Ashirvad.Data.AboutUsDetailEntity
<form id="fDetails">
    <div class="row" id="dDetailsInformation" style="padding:10px">

        <div class="col-md-12">
            @Html.Label("Description", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextAreaFor(x => x.BrandName, new { @class = "form-control required", autocomplete = "off", @alt = "Description" })
            @Html.HiddenFor(x => x.AboutUsInfo.AboutUsID)
            @Html.HiddenFor(x => x.DetailID)
            @Html.HiddenFor(x => x.HeaderImage)
        </div>
        <div class="col-md-6">
            @Html.Label("Header Image", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            <input class="file-upload fileRequired" alt="Header Image" id="fuHeaderImageDetail" name="ImageFile" type="file" accept="image/*" />
            @Html.HiddenFor(x => x.HeaderImageText, htmlAttributes: new { @class = "control-label fileRequired2" })
        </div>
        <div class="col-md-6" style="text-align: right;margin-top:27px;">
            <a onclick="return SaveDetail();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                <span class="ladda-label">
                    Save
                </span>
                <span class="ladda-spinner"></span>
            </a>
            <a href="@Url.Action("UserMaintenance","User", new { @branchID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                <span class="ladda-label">
                    Cancel
                </span>
                <span class="ladda-spinner"></span>
            </a>
        </div>
    </div>

</form>

