@model Ashirvad.Data.TestEntity
<form id="fTestDetail">
    <div class="form-group" id="dInformation">
        <div class="col-md-12">
            @Html.Label(" Select Competition", htmlAttributes: new { @class = "control-label" })
            <select name="Type" id="Type" class="form-control select2" alt="Type">
                <option value="0">--Select Competition--</option>

            </select>
        </div>

        <div class="col-md-12">
            @Html.Label("Prize Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.TestEndTime, null, new { @class = "form-control required ", @alt = "End Time", autocomplete = "off" })
        </div>

        <div class="col-md-12">
            @Html.Label(" Select Branch", htmlAttributes: new { @class = "control-label" })
            <select name="Type" id="Type" class="form-control select2" alt="Type">
                <option value="0">--Select Branch--</option>

            </select>
        </div>


        <div class="col-md-12">
            @Html.Label("Student Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.TestEndTime, null, new { @class = "form-control required ", @alt = "End Time", autocomplete = "off" })
        </div>

        <div class="form-group">
            <div class="col-md-12" style="text-align: right;">
                <br />
                <a onclick="" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Add Student
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>
    </div>
</form>