@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.CompetitionWinnerEntity>
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Competiton Name
            </th>
            <th>
                Prize
            </th>
            <th>
                Branch
            </th>
            <th>
                Course
            </th>
            <th>
                Class
            </th>
            <th>
                Student
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count > 0) { 
        foreach(var item in Model)
                {
                    <tr>
                        <td>
                            @item.competitionInfo.CompetitionName
                        </td>
                        <td>
                            @item.prizeName
                        </td>
                        <td>
                            @item.competitionRankInfo.branchInfo.BranchName
                        </td>
                        <td>
                            @item.competitionRankInfo.studentInfo.BranchClass.BranchCourse.course.CourseName
                        </td>
                        <td>
                            @item.competitionRankInfo.studentInfo.BranchClass.Class.ClassName
                        </td>
                        <td>
                            @item.competitionRankInfo.studentInfo.FirstName @item.competitionRankInfo.studentInfo.LastName
                        </td>
                        <td>
                            <a href="@Url.Action("CompetitionWinnerMaintenance", "WinnerEntry", new { CompetitionWinnerId = item.competition_winner_id })">
                                <img src="~/ThemeData/images/viewIcon.png" />
                            </a>
                        </td>
                        <td>
                            <a style="margin-left:20px;" href="#" onclick="RemoveCompetitionWinner(@item.competition_winner_id);">
                                <img src="~/ThemeData/images/delete.png" />
                            </a>
                        </td>
                    </tr>
                }
        }
    </tbody>

</table>


