@model Ashirvad.Data.MarksEntity

<form id="fMarks">
    <div class="form-group" id="dInformation">
        <div class="row">
            @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
            {
                <div class="col-md-3">
                    @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                    <select name="BranchName" id="BranchName" class="form-control requiredDDL select2" alt="Branch">
                        <option value="0">--Select Branch--</option>
                    </select>
                    @Html.HiddenFor(x => x.BranchInfo.BranchID)
                </div>
            }
            else
            {
                <div class="col-md-3" style="display: none;">
                    @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                    <select name="BranchName" id="BranchName" class="form-control requiredDDL select2" alt="Branch">
                        <option value="0">--Select Branch--</option>
                    </select>
                    @Html.HiddenFor(x => x.BranchInfo.BranchID)
                </div>
            }


            <div class="col-md-3">
                @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="StandardName" id="StandardName" class="form-control requiredDDL select2" alt="Standard">
                    <option value="0">--Select Standard--</option>
                </select>
                @Html.HiddenFor(x => x.StandardInfo.StandardID)
            </div>
            <div class="col-md-3">
                @Html.Label("Select Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BatchTime" id="BatchTime" class="form-control requiredDDL select2" alt="BatchTime">
                    <option value="0">--Select Batch Time--</option>
                    <option value="1">Morning</option>
                    <option value="2">Afternoon</option>
                    <option value="3">Evening</option>
                </select>
                @Html.HiddenFor(x => x.batchEntityInfo.BatchTime)
                @Html.HiddenFor(x => x.batchEntityInfo.BatchID)
            </div>
            <div class="col-md-3">
                @Html.Label("Test Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="Test" id="testddl" class="form-control requiredDDL select2" alt="Standard">
                    <option value="0">--Select Test Date--</option>
                </select>
                @Html.HiddenFor(x => x.testEntityInfo.TestID)
            </div>

            <div class="col-md-3">
                @Html.Label("Subject Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="SubjectName" id="SubjectName" class="form-control requiredDDL select2" alt="Subject">
                    <option value="0">--Select Subject--</option>
                </select>
                @Html.HiddenFor(x => x.SubjectInfo.SubjectID)

            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                @Html.Label("Total Marks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.TotalMarks, null, new { @class = "form-control required", autocomplete = "off",@readonly="readonly" })
            </div>
            <div class="col-md-3">
                @Html.Label("Remarks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.Remarks, null, new { @class = "form-control required", autocomplete = "off", @readonly = "readonly" })
            </div>
            <div class="col-md-3">
                @Html.Label("Solution Image", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.FileInfo, null, new { type = "file", htmlAttributes = new { @class = "form-control fileRequired" } })
            </div>
            <div class="col-md-3" style="text-align: right;margin-top:27px;">
                <a onclick="return SaveMarks();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="@Url.Action("MarksMaintenance","ResultEntry", new { @MarksID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>

    </div>
</form>