@model List<Ashirvad.Data.NotificationEntity>
@{
    Layout = null;
}

<table class="table" style="border: 1px groove black; border-collapse: collapse;">
    <tr>

        <th style="border: 1px groove black; border-collapse: collapse;">
            Branch Name
        </th>
        <th style="border: 1px groove black; border-collapse: collapse;">
            Course Name
        </th>
        <th style="border: 1px groove black; border-collapse: collapse;">
            Class Name
        </th>
        <th style="border: 1px groove black; border-collapse: collapse;">
            Notification Date
        </th>
        <th style="border: 1px groove black; border-collapse: collapse;">
            Description
        </th>
        <th style="border: 1px groove black; border-collapse: collapse;">
            Sub type
        </th>

    </tr>

    @foreach (var item in Model)
    {
        if (item.list?.Count > 0)
        {
            foreach (var i in item.list)
            {
                <tr>
                    <td style="border: 1px groove black; border-collapse: collapse;">
                        @item.Branch.BranchName
                    </td>
                    <td style="border: 1px groove black; border-collapse: collapse;">
                        @item.BranchCourse.course.CourseName
                    </td>
                    <td style="border: 1px groove black; border-collapse: collapse;">
                        @i.standard
                    </td>
                    
                    <td style="border: 1px groove black; border-collapse: collapse;">
                        @item.Notification_Date.ToString("dd-MM-yyyy")
                    </td>
                    <td style="border: 1px groove black; border-collapse: collapse;">
                        @item.NotificationMessage
                    </td>
                    <td style="border: 1px groove black; border-collapse: collapse;">@item.NotificationTypeText</td>
                </tr>
            }


        }
        else
        {
            <tr>
                <td style="border: 1px groove black; border-collapse: collapse;">
                    @item.Branch.BranchName
                </td>
                <td style="border: 1px groove black; border-collapse: collapse;">
                </td>
                <td style="border: 1px groove black; border-collapse: collapse;">
                </td>
                <td style="border: 1px groove black; border-collapse: collapse;">
                    @item.Notification_Date.ToString("dd-MM-yyyy")
                </td>
                <td style="border: 1px groove black; border-collapse: collapse;">
                    @item.NotificationMessage
                </td>
                <td style="border: 1px groove black; border-collapse: collapse;">@item.NotificationTypeText</td>
            </tr>
        }

    }

</table>
