@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.LibraryEntity1>


<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Title
            </th>
            <th>
                Link
            </th>
            <th>
                Description
            </th>
            <th>
                Category
            </th>
            @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
            {
                <th>
                    Branch Name
                </th>
            }
            <th>
                Edit
            </th>
            <th class="LibraryVideoDelete">
                Delete
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @item.Title
            @Html.HiddenFor(x => item.LibraryID)
        </td>
        <td>
            <a href="@item.link" target="_blank" style="color:blue;text-decoration:underline;">Go to link</a>
            @Html.HiddenFor(x => item.LibraryID)
        </td>
        <td>
            @item.Description
            @Html.HiddenFor(x => item.LibraryID)
        </td>
        <td>
            @item.CategoryInfo.Category
            @Html.HiddenFor(x => item.CategoryInfo.CategoryID)
        </td>
        @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
        {
            <td>
                @item.BranchInfo.BranchName
                @Html.HiddenFor(x => item.BranchInfo.BranchID)
            </td>
        }
       
        <td>
            <a href="@Url.Action("LibraryMaintenance", "NewLibrary", new { LibraryID = item.LibraryID ,Type=1})">
                <img src="~/ThemeData/images/viewIcon.png" />
            </a>
        </td>
        <td class="LibraryVideoDelete">
            <a href="#" onclick="RemoveLibraryVideo(@item.LibraryID);">
                <img src="~/ThemeData/images/delete.png" />
            </a>
        </td>
    </tr>
    }

</table>

