@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.StudentEntity>

@{
    Layout = null;
}

<div class="col-md-12">
    <table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
        <thead>
            <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue;padding: 5px !important;">
                <th>
                    Student Photo
                </th>
                <th>
                    Student Name
                </th>
                <th>
                    Admission Date
                </th>
                <th>
                    Standard
                </th>
                <th>
                    Batch Time
                </th>
                <th>
                    Contact No
                </th>
                <th>
                    Edit
                </th>
                @*<th>
                    Delete
                </th>*@
            </tr>
        </thead>
        <tbody>
            @if (Model != null)
            {
                foreach (var item in Model)
                {
            <tr>
                <td>
                    <img src="data:image/jpg;base64,@item.StudImage" id="branchImg" style="height:30px;width:30px;margin-left:20px;" />
                </td>
                <td>
                    @item.FirstName @item.LastName
                    @Html.HiddenFor(x => item.StudentID)
                    @Html.HiddenFor(x => item.BranchInfo.BranchID)
                </td>
                <td>
                    @if (item.AdmissionDate != null)
                    {
                        @item.AdmissionDate.Value.ToString("dd/MM/yyyy")
                    }
                </td>
                <td>
                    @item.StandardInfo.Standard
                </td>
                <td>
                    @item.BatchInfo.BatchType
                </td>
                <td>
                    @item.ContactNo
                </td>
                <td>
                    <a href="@Url.Action("StudentMaintenance", "Student", new { studentID = item.StudentID })">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                @*<td>
                    <a style="margin-left:20px;" href="#" onclick="RemoveStudent(@item.StudentID);">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>*@
            </tr>
                }
            }
        </tbody>
    </table>
</div>

<script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
<script>
    $(document).ready(function () {

        $('#studenttbl').DataTable({
            "bPaginate": true,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true
        });
    });
</script>