@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.BannerEntity>
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Branch Name
            </th>
            <th>
                Banner Image
            </th>
            <th>
                Sub type
            </th>
            <th>
                Edit
            </th>
            <th class="BannerMasterDelete">
                Delete
            </th>
        </tr>
    </thead>
    @*@foreach (var item in Model)
    {
    <tr>
        <td>
            @item.BranchInfo.BranchName
            @Html.HiddenFor(x => item.BannerID)
            @Html.HiddenFor(x => item.BranchInfo.BranchID)
        </td>
        <td>
            @if (item.FilePath != null && item.FilePath != "")
            {
                <img src="@item.FilePath" id="bannerImg" style="height:40px;width:40px;margin-left:40px;" />
            }
            else
            {
                <img src="~/ThemeData/images/Default.png" id="bannerImg" style="height:40px;width:40px;margin-left:40px;" />
            }
        </td>
        <td>
            @foreach (var subtype in item.BannerType)
            {
                string a = "";
                if (subtype.TypeID == 1)
                {
                    a = "Admin";

                }
                if (subtype.TypeID == 2)
                {
                    a += "- Teacher ";
                }
                if (subtype.TypeID == 3)
                {
                    a += "- Student";
                }
                <label>@a</label>
            }
        </td>
        <td>
            <a href="@Url.Action("BannerMaintenance", "Banner", new { bannerID = item.BannerID })">
                <img src="~/ThemeData/images/viewIcon.png" />
            </a>
        </td>
        <td class="BannerMasterDelete">
            <a style="margin-left:20px;" href="#" onclick="RemoveBanner(@item.BannerID);">
                <img src="~/ThemeData/images/delete.png" />
            </a>
        </td>
    </tr>
    }*@
</table>
