@model Ashirvad.Data.LibraryVideoEntity
@{
    ViewBag.Title = "LibraryVideo";
}
<style>
    .gallery_content {
        visibility: visible !important;
        opacity: 100 !important;
        top: 32px !important;
    }

    .gallery_item {
    }

    .gallery_content, .ripple {
        top: -10px !important;
        font-size: 45px !important;
    }

        .ripple::before, .ripple::after {
            -webkit-animation: none !important;
            animation: none !important;
        }

    .gallery_item:hover .gallery_content {
        opacity: 1 !important;
    }
</style>
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="../../Themedata/assets/images/pexels-max-fischer-5212326.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Library Videos</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library Videos</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list_none grid_filter">
                    <li><a href="#" class="current" data-filter="*">All</a></li>
                    @foreach (var category in Model.Categorylist)
                    {
                        <li><a href="#" data-filter=".@category.CategoryID">@category.Category</a></li>

                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul id="videoul" class="grid_container gutter_medium grid_col4">
                    <li class="grid-sizer"></li>
                    <!-- START PORTFOLIO ITEM -->
                    @foreach (var item in Model.Videolist)
                    {
                        <li class="grid_item @item.CategoryInfo.CategoryID">
                            <div class="gallery_item">
                                <a href="@item.link" class="image_link">
                                    <iframe id="Videoiframe" class="videolink" src="@item.link"></iframe>
                                </a>
                            </div>

                            
                            <div class="team_title radius_lbrb_10 text-center">
                                <h5><a href="@item.link" target="_blank">@item.Title</a></h5>
                            </div>
                        </li>
                    }
                    <!-- END PORTFOLIO ITEM -->
                </ul>
            </div>
        </div>
    </div>
</section>
@section Scripts {
    <script type="text/javascript" src="~/scripts/app/Common.js"></script>
}