@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.BranchWiseRightEntity>

<table style="width: 100%;" id="subcategorytbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Page Detail
            </th>

            <th>
                Branch ID
            </th>

            <th>
                Branch Name
            </th>
            <th>
                Package
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>


    <tbody>

        @foreach (var item1 in Model)
        {


        <tr>
            <td>
                @item1.PageInfo.Page
            </td>
            <td>
                @item1.branchinfo.BranchID
            </td>
            <td>
                @item1.branchinfo.BranchName
            </td>
            <td>
                @item1.Packageinfo.Package
            </td>

            <td>
                <a href="@Url.Action("BranchRightMaintenance", "BranchWiseRight", new { @BranchRightID = item1.BranchWiseRightsID })">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
            <td>
                <a href="javascript:void(0)" onclick="RemoveBranchRight('@item1.BranchWiseRightsID')">
                    <img src="~/ThemeData/images/Delete.png" />
                </a>
            </td>


        </tr>

        }
        </tbody>

    </table>


    


