@model List<Ashirvad.Data.FacultyEntity>

<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">

            <th>
                Faculty Name
            </th>
            <th>
                Faculty Image
            </th>
            <th>
                Board Type
            </th>

            <th>
                Standard
            </th>
            <th>
                Subject
            </th>

            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
    <tr>

        <td>
            @item.staff.Name
            @Html.HiddenFor(x => item.staff.StaffID)
        </td>
        <td>
            @if (item.FilePath != null && item.FilePath != "")
            {
                <img src="@item.FilePath" id="FeeImg" style="height:60px;width:50px;" />
            }
            else
            {
                <img src="~/ThemeData/images/Default.png" id="FeeImg" style="height:60px;width:50px;" />
            }
        </td>
        <td>@item.board</td>
        <td>@item.standard.Standard</td>
        <td>@item.subject.Subject</td>

        <td>
            <a href="@Url.Action("FacultyMaintenance", "Faculty", new { facultyID = item.FacultyID })">
                <img src="~/ThemeData/images/viewIcon.png" />
            </a>
        </td>
        <td>
            <a href="#" onclick="RemoveFaculty(@item.FacultyID);">
                <img src="~/ThemeData/images/delete.png" />
            </a>
        </td>
    </tr>
    }





</table>