@model Ashirvad.Data.HomeworkEntity
<form id="fHomeworkDetail">
    <div class="form-group" id="dInformation">
        @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
        {
            <div class="col-md-6">

            </div>
            <div class="col-md-6">
                @Html.Label("Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <div id="datepickerhomework" class="input-group date" data-date-format="dd/mm/yyyy">
                    @if (Model == null)
                    {
                        @Html.TextBoxFor(x => x.HomeworkDate, null, new { @class = "form-control required", @alt = "Homework Date", autocomplete = "off", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.HomeworkDate, Model.HomeworkDate.ToString("dd/MM/yyyy"), new { @class = "form-control required", autocomplete = "off", @readonly = "readonly", @alt = "Homework Date" })
                    }
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @Html.HiddenFor(x => x.HomeworkID)
            </div>
            <div class="col-md-6" style="margin-top:10px;">
                @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BranchName" id="BranchName" class="form-control requiredDDL" alt="Branch">
                    <option value="0">--Select Branch--</option>
                </select>
                @Html.HiddenFor(x => x.BranchInfo.BranchID)
            </div>
            <div class="col-md-6" style="margin-top:10px;">
                @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="StandardName" id="StandardName" class="form-control requiredDDL select2" alt="Standard">
                    <option value="0">--Select Standard--</option>
                </select>
                @Html.HiddenFor(x => x.StandardInfo.StandardID)
            </div>
            <div class="col-md-6" style="margin-bottom: 10px;margin-top:10px;">
                @Html.Label("Select Subject", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="SubjectName" id="SubjectName" class="form-control requiredDDL select2" alt="Subject">
                    <option value="0">--Select Subject--</option>
                </select>
                @Html.HiddenFor(x => x.SubjectInfo.SubjectID)
            </div>
            <div class="col-md-6" style="margin-top:10px;">
                @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BatchTime" id="BatchTime" class="form-control requiredDDL select2" alt="Batch Time">
                    <option value="0">--Select Batch Time--</option>
                    <option value="1">Morning</option>
                    <option value="2">AfterNoon</option>
                    <option value="3">Evening</option>
                </select>
                @Html.HiddenFor(x => x.BatchTimeID)
                @Html.HiddenFor(x => x.BatchTimeText)
            </div>

            <div class="col-md-12" style="margin-top:10px;">
                @Html.Label("Remarks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.Remarks, new { @class = "form-control required", @alt = "Remarks", autocomplete = "off" })
            </div>
            <div class="col-md-12" style="margin-top: 5px">
                @Html.Label("HomeWork", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <input class="file-upload fileRequired" alt="Thumbnail Image" id="fuHomeworkDoc" name="ThumbnailFile" type="file" />
                @Html.HiddenFor(x => x.HomeworkContentText)
                @Html.HiddenFor(x => x.HomeworkContent)
                @Html.HiddenFor(x => x.HomeworkContentFileName)
            </div>
        }
        else
        {
    <div class="col-md-6">
        @Html.Label("Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <div id="datepickerhomework" class="input-group date" data-date-format="dd/mm/yyyy">
            @if (Model == null)
            {
                @Html.TextBoxFor(x => x.HomeworkDate, null, new { @class = "form-control", @alt = "Homework Date", autocomplete = "off", @readonly = "readonly" })
            }
            else
            {
                @Html.TextBoxFor(x => x.HomeworkDate, Model.HomeworkDate.ToString("dd/MM/yyyy"), new { @class = "form-control", autocomplete = "off", @readonly = "readonly", @alt = "Homework Date" })
            }
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
        @Html.HiddenFor(x => x.HomeworkID)
    </div>
    <div class="col-md-6" style="margin-top:10px;display:none;">
        @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="BranchName" id="BranchName" class="form-control" alt="Branch">
            <option value="0">--Select Branch--</option>
        </select>
        @Html.HiddenFor(x => x.BranchInfo.BranchID)
    </div>
    <div class="col-md-6">
        @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="StandardName" id="StandardName" class="form-control requiredDDL select2" alt="Standard">
            <option value="0">--Select Standard--</option>
        </select>
        @Html.HiddenFor(x => x.StandardInfo.StandardID)
    </div>
    <div class="col-md-6" style="margin-top:10px;">
        @Html.Label("Select Subject", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="SubjectName" id="SubjectName" class="form-control requiredDDL select2" alt="Subject">
            <option value="0">--Select Subject--</option>
        </select>
        @Html.HiddenFor(x => x.SubjectInfo.SubjectID)
    </div>
    <div class="col-md-6" style="margin-top:10px;">
        @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="BatchTime" id="BatchTime" class="form-control requiredDDL select2" alt="Batch Time">
            <option value="0">--Select Batch Time--</option>
            <option value="1">Morning</option>
            <option value="2">AfterNoon</option>
            <option value="3">Evening</option>
        </select>
        @Html.HiddenFor(x => x.BatchTimeID)
        @Html.HiddenFor(x => x.BatchTimeText)
    </div>

    <div class="col-md-12" style="margin-top:10px;">
        @Html.Label("Remarks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.TextBoxFor(x => x.Remarks, new { @class = "form-control required", @alt = "Remarks", autocomplete = "off" })
    </div>
    <div class="col-md-12" style="margin-top: 5px">
        @Html.Label("Upload HomeWork", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <input class="file-upload fileRequired" alt="Homework" id="fuHomeworkDoc" name="ThumbnailFile" type="file" />
        @Html.HiddenFor(x => x.HomeworkContentText)
        @Html.HiddenFor(x => x.FilePath)
        @Html.HiddenFor(x => x.HomeworkContentFileName)
    </div>
}
    </div>
    <div class="form-group HomeworkCreate">
        <div class="col-md-12" style="text-align: right;">
            <a onclick="return SaveHomework();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                <span class="ladda-label">
                    Save
                </span>
                <span class="ladda-spinner"></span>
            </a>
            <a href="@Url.Action("HomeworkMaintenance","Homework", new { @homeworkID=0, @branchID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                <span class="ladda-label">
                    Cancel
                </span>
                <span class="ladda-spinner"></span>
            </a>
        </div>
    </div>
</form>
