@model Ashirvad.Data.Model.WebsiteModel
@{
    ViewBag.Title = "LibraryImage";
}
<style>
    .ripple::before, .ripple::after {
        -webkit-animation: none !important;
        animation: none !important;
    }

    .gallery_content {
        visibility: visible !important;
        opacity: 100 !important;
        top: 20px !important;
    }

    .gallery_content, .ripple {
        top: 20px !important;
    }
</style>
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="../../Themedata/assets/images/pexels-max-fischer-5212326.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Library Documents</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library Documents</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list_none grid_filter">
                    <li><a href="#" class="current" data-filter="">All</a></li>

                    @foreach (var category in Model.Categorylist)
                    {

                        <li><a href="#" data-filter=".@category.CategoryID">@category.Category</a></li>

                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid_container gutter_medium grid_col4">
                    <li class="grid-sizer"></li>
                    <!-- START PORTFOLIO ITEM -->
                    @foreach (var image in Model.librarYImage)
                    {
                        <li class="grid_item @image.CategoryInfo.CategoryID">
                            <div class="gallery_item">
                                <a href="#" class="image_link">
                                    <img src="@image.ThumbnailFilePath" alt="image" height="240" width="360">
                                </a>
                                <div class="gallery_content">
                                    <div class="link_container">

                                        <a href="@Url.Action("Download","LibraryImage",new { @filedata=image.DocFilePath,@FileName=image.DocFileName})"   id="paperdownload" download="@image.DocFileName">
                                            <span class="ripple"><i class="ion-image"></i></span>
                                        </a>


                                    </div>

                                </div>
                            </div>
                            <div class="team_title radius_lbrb_10 text-center">
                                <h5><a href="#">@image.LibraryTitle</a></h5>
                            </div>
                        </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/app/Image.js"></script>


z