@model Ashirvad.Data.LibraryImageEntity
@{
    ViewBag.Title = "LibraryImage";
}
<style>
    .ripple::before, .ripple::after {
        -webkit-animation: none !important;
        animation: none !important;
    }

    .gallery_content {
        visibility: visible !important;
        opacity: 100 !important;
        top: 20px !important;
    }

    .gallery_content, .ripple {
        top: 20px !important;
    }
</style>
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="../../Themedata/assets/images/pexels-max-fischer-5212326.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Library Documents</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Library Documents</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <ul class="list_none grid_filter">
                    <li><a href="#" class="current" data-filter="*">All</a></li>
                    @foreach (var category in Model.Categorylist)
                    {

                        <li><a href="#" data-filter=".@category.Category">@category.Category</a></li>

                    }
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="grid_container gutter_medium grid_col4">
                    <li class="grid-sizer"></li>
                    <!-- START PORTFOLIO ITEM -->
                    @foreach (var image in Model.imagelist)
                    {
                        string path = "http://highpack-001-site12.dtempurl.com" + image.FilePath;
                    <li class="grid_item @image.CategoryInfo.Category">
                        <div class="gallery_item">
                            <a href="#" class="image_link">
                                <img src="@path" alt="image" style="height:240px;width:360px">
                            </a>
                            <div class="gallery_content">
                                <div class="link_container">
                                    <a href="@path" class="image_popup" download="@image.FileName"><span class="ripple"><i class="ion-image"></i></span></a>
                                </div>

                            </div>
                        </div>
                        <div class="team_title radius_lbrb_10 text-center">
                            <h5><a href="#">@image.Description</a></h5>
                        </div>
                    </li>
                    }

                </ul>
            </div>
        </div>
    </div>
</section>

