﻿@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.LibraryEntity>

<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Branch Name
            </th>
            <th>
                Thumbnail
            </th>
            <th>
                Document
            </th>
            <th>
                Document Description
            </th>
            <th>
                Edit
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.BranchData.BranchName
                @Html.HiddenFor(x => item.BranchID)
            </td>
            <td>
                <img src="~/ThemeData/images/Default.png" style="height:50px;width:50px" id="thumnailImg" />
                @Html.HiddenFor(x => item.LibraryID)
            </td>
            <td>
                <a style="margin-left:20px;" href="#">
                    <img src="~/ThemeData/images/icons8-desktop-download-24 (1).png" />
                </a>
            </td>
            <td>
                @item.Description
            </td>
            <td>
                <a href="@Url.Action("LibraryMaintenance", "Library", new { libraryID = item.LibraryID})">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
            <td>
                <a style="margin-left:20px;" href="#" onclick="RemoveLibrary(@item.LibraryID);">
                    <img src="~/ThemeData/images/delete.png" />
                </a>
            </td>
        </tr>
    }

</table>







