@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.BatchEntity>

@{ 
    string time;
}
<table style="width: 100%;" id="batchtable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Course
            </th>
            <th>
                Standard
            </th>
            <th>
                Batch Time
            </th>
            <th>
                Monday - Friday
            </th>
            <th>
                Saturday
            </th>
            <th>
                Sunday
            </th>
            <th class="BatchMasterCreate">
                Edit
            </th>
            <th class="BatchMasterDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    @*@foreach (var item in Model)
    {
        time = item.MonFriBatchTime;
    <tr>
        <td>
            @item.StandardInfo.Standard
            @Html.HiddenFor(x => item.StandardInfo.StandardID)
        </td>
        <td>
            @item.BatchType
        </td>
        <td>
            @item.MonFriBatchTime
        </td>
        <td>
            @item.SatBatchTime
        </td>
        <td>
            @item.SunBatchTime
        </td>
        <td>
            <a href="@Url.Action("BatchMaintenance", "Batch", new { branchID = item.BatchID })">
                <img src="~/ThemeData/images/viewIcon.png" />
            </a>
        </td>
        <td class="BatchMasterCreate">
            <a style="margin-left:20px;" href="#" onclick="RemoveBatch(@item.BatchID);">
                <img src="~/ThemeData/images/delete.png" />
            </a>
        </td>
    </tr>
    }*@

</table>




