﻿@model Ashirvad.Data.BranchSubjectEntity
<div class="col-md-12">
    <form id="fBranchSubjectDetail">
        @Html.HiddenFor(x => x.JsonData)
        @Html.HiddenFor(x => x.IsEdit)
        @Html.HiddenFor(x => x.BranchCourse.course_dtl_id)
        @Html.HiddenFor(x => x.BranchClass.Class_dtl_id)
        <div style="margin-top:10px;">
            <div class="col-md-6">
                @Html.Label("Course Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="CourseName" id="CourseName" class="form-control requiredDDL" alt="Course Name">
                    <option value="0">--Select Course Name--</option>
                </select>
            </div>
            <div class="col-md-6">
                @Html.Label("Class Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="ClassName" id="ClassName" class="form-control requiredDDL" alt="Class Name">
                    <option value="0">--Select Class Name--</option>
                </select>
            </div>
        </div>

        <div class="col-md-12">
            <table style="width: 100%;" id="choiceList" class="table table-striped dataTable no-footer">
                <thead>
                    <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                        <th style="width:13%">
                            <input type="checkbox" class="allselected" onchange="OnSelectStatus(this,'isSubject');" Id="allselect" /> All
                        </th>
                        <th>Subject Name</th>
                    </tr>
                </thead>
                @if (Model.BranchSubjectData.Count > 0)
                {
                    <tbody>
                        @foreach (var item in Model.BranchSubjectData)
                        {

                            <tr>
                                <td class="js-export-checkbox">
                                    @Html.CheckBoxFor(m => item.isSubject, new { @class = "isSubject", @onchange = "checkstatus()" })
                                    <input type="hidden" value="@item.Subject_dtl_id" class="Subjectdtlid" />
                                </td>
                                <td>
                                    @item.Subject.SubjectName
                                    <input type="hidden" value="@item.Subject.SubjectID" class="SubjectID" />
                                    <input type="hidden" value="@item.Subject.SubjectName" class="SubjectName" />
                                </td>
                            </tr>
                        }
                    </tbody>
                }
                else
                {
                    <tbody>
                        @foreach (var item in Model.SubjectData)
                        {

                            <tr>
                                <td subject="js-export-checkbox">
                                    @Html.CheckBox("isSubject", new { @class = "isSubject", @Id = "isSubject", @onchange = "checkstatus()" })
                                    <input type="hidden" value="0" subject="subjectdtlid" />
                                </td>
                                <td>
                                    @Html.HiddenFor(x => item.SubjectID, new { @class = "SubjectID" })
                                    @Html.HiddenFor(x => item.SubjectName, new { @class = "SubjectName" })
                                    @item.SubjectName

                                </td>
                            </tr>
                        }
                    </tbody>
                }
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-12" style="text-align: right;">
                <br />
                <a onclick="return SaveSubjectDetail();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="@Url.Action("PackageRightMaintenance","PackageRight", new { @PackageRightID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>
    </form>
</div>
