
@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.BranchSubjectEntity>
@{
    Layout = null;
}

<table style="width: 100%;" id="choiceList" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th style="width:13%">
                <input type="checkbox" class="allselected" onchange="OnSelectStatus(this,'isSubject');" Id="allselect" /> All
            </th>
            <th>Subject Name</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td class="js-export-checkbox">
                @Html.CheckBoxFor(m => item.isSubject, new { @class = "isSubject", @onchange = "checkstatus('new')" })
                <input type="hidden" value="@item.Subject_dtl_id" class="Subjectdtlid" />
            </td>
            <td>
                @item.Subject.SubjectName
                <input type="hidden" value="@item.Subject.SubjectID" class="SubjectID" />
                <input type="hidden" value="@item.Subject.SubjectName" class="SubjectName" />
            </td>
        </tr>
        }
    </tbody>
</table>

