@model Ashirvad.Data.StudentEntity

@{
    /**/

    Layout = null;
}

<style type="text/css">

    .courses-container {
    }

    .course {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        max-width: 100%;
        margin: 10px;
        overflow: hidden;
    }

        .course span1 {
            opacity: 0.6;
            letter-spacing: 1px;
            text-transform: uppercase;
            margin: 5px 0 0 0;
        }

        .course h2 {
            letter-spacing: 1px;
            margin: 10px 0;
        }

    .course-preview {
        color: #fff;
        padding: 7px;
        max-width: 250px;
    }

        .course-preview a {
            color: #fff;
            display: inline-block;
            font-size: 12px;
            opacity: 0.6;
            margin-top: 30px;
            text-decoration: none;
        }

    .course-info {
        padding-top: 10px;
        padding-right: 0;
        position: relative;
        width: 100%;
    }

    .progress-container {
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: right;
        width: 150px;
    }

    .progress {
        background-color: #ddd;
        border-radius: 3px;
        height: 5px;
        width: 100%;
    }

        .progress::after {
            border-radius: 3px;
            background-color: #2A265F;
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            height: 5px;
            width: 66%;
        }

    .progress-text {
        font-size: 10px;
        opacity: 0.6;
        letter-spacing: 1px;
    }

    .btn1 {
        background-color: #2A265F;
        border: 0;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        color: #fff;
        font-size: 14px;
        padding: 8px 7px;
        position: absolute;
        bottom: 0;
        right: 0;
        letter-spacing: 1px;
    }
</style>

@if (Model != null)
{
    <div class="col-md-12">
        <div class="row">
            <div class="courses-container">
                <div class="course">
                    <div class="course-preview">
                        <img style="height:70px;width:70px" Height="70" Width="70" />
                    </div>
                    <div class="course-info" style="padding-bottom: 10px">
                        <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Name :</span>
                        <label>@Model.Name</label><br />
                        <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Address :</span>
                        <label>@Model.Address</label><br />
                        <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Mobile :</span>
                        <label runat="server" ID="lblMobile">@Model.ContactNo</label><br />
                        <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Standard :</span>
                        <label>@Model.StandardInfo.Standard</label><br />
                        <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">School :</span>
                        <label>@Model.SchoolInfo.SchoolName</label><br />
                        <span style="opacity: 0.6; letter-spacing: 0.5px; text-transform: uppercase; margin: 5px 0 0 0; font-size: 12px">Batch Time :</span>
                        <label>@Model.BatchInfo.BatchType</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
