﻿@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.LibraryEntity>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .card {
        position: relative;
        width: 180px;
        height: 250px;
        margin: 20px;
        overflow: hidden;
        box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .card .content {
            position: absolute;
            bottom: -200px;
            width: 100%;
            height: 160px;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 10;
            flex-direction: column;
            backdrop-filter: blur(15px);
            box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.1);
            border: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 15px;
            transition: bottom 0.5s;
            transition-delay: 0.65s;
        }

        .card:hover .content {
            bottom: 0;
            transition-delay: 0s;
        }

        .card .content .contentBx h3 {
            text-transform: uppercase;
            color: #fff;
            letter-spacing: 2px;
            font-weight: 500;
            font-size: 18px;
            text-align: center;
            margin: 20px 0 15px;
            line-height: 1.1em;
            transition: 0.5s;
            transition-delay: 0.6s;
            opacity: 0;
            transform: translateY(-20px);
        }

        .card:hover .content .contentBx h3 {
            opacity: 1;
            transform: translateY(0);
        }

        .card .content .contentBx h3 span {
            font-size: 12px;
            font-weight: 300;
            text-transform: initial;
        }

        .card .content .sci {
            margin: 0;
            /* position: relative; */
            /* bottom: 10px; */
            display: flex;
            padding: 0;
        }

            .card .content .sci li {
                list-style: none;
                margin: 0 10px;
                transform: translateY(40px);
                transition: 0.5s;
                opacity: 0;
            }

        .card:hover .content .sci li {
            transform: translateY(0);
            opacity: 1;
        }

        .card .content .sci li a {
            color: white;
            font-size: 24px;
        }
</style>


<section class="content">
    <div class="row">
        <div class="messagealert" id="alert_container"></div>
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-header with-border">
                    <h3 class="box-title">Show Library</h3>
                </div>
                <div class="box-body" style="margin-left:10px;margin-right:10px;">
                    <table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">

                        <tbody>

                            <tr>

                                <td>
                                    @foreach (var item in Model)
                                    {
                                        <div class="card col-md-4">
                                            <div class="imgBx">
                                                @if (item.ThumbnailFilePath != null && item.ThumbnailFilePath != "")
                                                {
                                                    <img src="@item.ThumbnailFilePath" Width="150" Height="250" />
                                                }
                                                else
                                                {
                                                    <img src="~/ThemeData/images/vedio.png" id="FeeImg" Width="150" Height="150"  />
                                                }
                                                @Html.HiddenFor(x => item.LibraryID)
                                               
                                            </div>
                                            <div class="content">
                                                <label Style="background: white; color: black; border-radius: 5px; padding: 5px;">@item.Description</label>
                                                <ul class="sci">
                                                    <li>
                                                        @if (item.DocFilePath != null && item.DocFilePath != "")
                                                        {
                                                            <a style="margin-left:20px;" href="@item.DocFilePath" target="_blank">
                                                                <img src="~/ThemeData/images/icons8-preview-pane-24.png" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                            <a style="margin-left:20px;" href="@item.VideoLink" target="_blank">
                                                                <img src="~/ThemeData/images/play.png" height="30" />
                                                            </a>
                                                        }
                                                    </li>
                                                    <li>
                                                        @if (item.DocFilePath != null && item.DocFilePath != "")
                                                        {
                                                            <a style="margin-left:20px;" href="@item.DocFilePath.Replace("http://highpack-001-site12.dtempurl.com","")" download="@item.DocFileName">
                                                                <img src="~/ThemeData/images/icons8-desktop-download-24 (1).png" />
                                                            </a>
                                                        }
                                                        else
                                                        {
                                                                <img hidden="hidden" src="~/ThemeData/images/icons8-desktop-download-24 (1).png" />
                                                        }


                                                    </li>
                                                </ul>

                                            </div>

                                        </div>
                                    }
                                </td>

                            </tr>


                        </tbody>
                    </table>
                </div>
            </div>
        </section>
    </div>

</section>


