@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.PackageEntity>


<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Package Name
            </th>
            <th>
                No of Student
            </th>
            <th style="text-align:center;">
                Edit
            </th>
            <th style="text-align:center;">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    @*@foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Package
                @Html.HiddenFor(x => item.PackageID)
                @Html.HiddenFor(x => item.BranchInfo.BranchID)
            </td>
            <td style="text-align:center !important;">
                <a href="@Url.Action("PackageMaintenance", "Package", new { branchID = item.PackageID })">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
            <td style="text-align:center !important;">
                <a href="#" onclick="RemovePackage(@item.PackageID);">
                    <img src="~/ThemeData/images/delete.png" />
                </a>
            </td>
        </tr>
    }*@

</table>

