@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.TestEntity>

<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Standard
            </th>
            <th>
                Batch Time
            </th>
            <th>
                Test Date
            </th>
            <th>
                Test Time
            </th>
            <th>
                Subject
            </th>
            <th>
                Total Marks
            </th>
            <th>
                Link
            </th>
            <th>
                Document
            </th>
            <th>
                Edit
            </th>
            <th style="text-align:center;">
                View Student AnswerSheet
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.Standard.Standard
            </td>

            <td>
                @item.BatchTimeText
            </td>

            <td>
                @item.TestDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.TestStartTime - @item.TestEndTime
            </td>
            <td>
                @item.Subject.Subject
            </td>
            <td>
                @item.Marks
            </td>
            <td>
                @item.test.DocLink
            </td>
            @if (item.test.FilePath != null && item.test.FilePath!="")
            {
                <td>
                    <a onclick="DownloadTestPaper('@item.test.TestPaperID')" id="paperdownload" download><img src="~/ThemeData/images/icons8-desktop-download-24 (1).png" /></a>
                    @Html.HiddenFor(x => item.test.TestPaperID)
                    <input hidden id="UniqID" value="@item.test.TestPaperID" />
                </td>
            }
            else
            {
                <td></td>
            }

            <td>
                <a href="@Url.Action("TestPaperMaintenance", "TestPaper", new { testID = item.TestID, paperID = item.test.TestPaperID})">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
            <td style="text-align:center">
                <a href="@Url.Action("StudentAnswerSheetMaintenance", "TestPaper", new { testID = item.TestID})">
                    <img src="~/ThemeData/images/tick.png" style="height:35px;width:35px" />
                </a>
            </td>
            <td>
                <a style="margin-left:20px;" href="#" onclick="RemoveTest(@item.TestID);">
                    <img src="~/ThemeData/images/delete.png" />
                </a>
            </td>
        </tr>
    }

</table>


