@model Ashirvad.Data.BranchEntity

@{
    ViewBag.Title = "Permission Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<section class="content">
    <div class="row">
        <section class="col-md-12">
            <div class="box box-warning">
                <div class="box-body" style="padding:5px">
                    <table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
                        <thead>
                            <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                                <th>
                                    Employee Name
                                </th>

                                <th>
                                    Date
                                </th>

                                <th>
                                    Edit
                                </th>
                            </tr>
                        </thead>

                        @*@foreach (var item in Model.BranchLogo)
                            {
                                <tr>

                                    @if (item.Photo == null || item.Photo == "")
                                    {
                                        <td><img src="~/ThemeData/images/Default.png" style="height:50px;width:50px" /></td>
                                    }
                                    else
                                    {
                                        <td><img src="@Url.Content(""+item.Photo+"")" style="height:50px;width:50px" /></td>
                                    }



                                    <td>
                                        @item.FirstName
                                    </td>

                                    <td>
                                        @item.AdmissionDate
                                    </td>
                                    <td>
                                        @item.Standard
                                    </td>
                                    <td>
                                        @item.BatchTime
                                    </td>
                                    <td>
                                        @item.ContactNo
                                    </td>

                                </tr>
                            }*@

                    </table>
                </div>
            </div>
        </section>
    </div>
    @section Scripts {
        <script src="~/ThemeData/plugins/jQuery/jquery-2.2.3.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
        <script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>
        <script>
            $(document).ready(function () {

                $('#studenttbl').DataTable({
                    "searching": true,
                    "orderable": true,
                    "columnDefs": [
                        {
                            "targets": [0],
                            "searchable": false,
                            "orderable": false,
                            "width": "10%"
                        },
                        {
                            "targets": [1],
                            "searchable": true,
                            "orderable": true,
                            "width": "10%"
                        },
                        {
                            "targets": [2],
                            "searchable": true,
                            "orderable": true,
                            "width": "10%"
                        },
                        {
                            "targets": [3],
                            "searchable": true,
                            "orderable": true,
                            "width": "10%"
                        },
                        {
                            "targets": [4],
                            "searchable": true,
                            "orderable": true,
                            "width": "10%"
                        },
                        {
                            "targets": [5],
                            "searchable": true,
                            "orderable": true,
                            "width": "10%"
                        },

                    ],
                    "columns": [
                        { "data": "" },
                        { "data": "FirstName" },
                        { "data": "AdmissionDate" },
                        { "data": "Standard" },
                        { "data": "BatchTime" },
                        { "data": "ContactNo" },
                    ]
                });
            });
        </script>
        <script type="text/javascript">
            function ConfirmationDialog() {
                if (confirm("Are you sure to continue?"))
                    return true;
                else
                    return false;
            }
        </script>

    }


</section>












