@model Ashirvad.Data.SubjectEntity
<form id="fSubjectDetail">
    <div class="form-group" id="dInformation">
        <div class="col-md-12">
            @Html.Label("Subject Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
            @Html.TextBoxFor(x => x.Subject, new { @class = "form-control required", @alt = "Subject Name", autocomplete = "off" })
            @Html.HiddenFor(x => x.SubjectID)
        </div>
        @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
        {
            <div class="col-md-12">
                @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BranchName" id="BranchName" class="form-control requiredDDL select2" alt="Branch">
                    <option value="0">--Select Branch--</option>
                </select>
                @Html.HiddenFor(x => x.BranchInfo.BranchID)
            </div>
        }
        else
        {
            <div class="col-md-12" style="display: none;">
                @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BranchName" id="BranchName" class="form-control" alt="Branch">
                    <option value="0">--Select Branch--</option>
                </select>
                @Html.HiddenFor(x => x.BranchInfo.BranchID)
            </div>
        }
        <div class="form-group">
            <div class="col-md-12" style="text-align: right;">
                <br />
                <a onclick="return SaveSubject();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="@Url.Action("SubjectMaintenance","Subject", new { @branchID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>
    </div>
</form>