
<div class="col-md-12">
    <form id="fBranchCourseDetail">
        <div>
            <div class="col-md-12">
                <table style="width: 100%;" id="choiceList" class="table table-striped dataTable no-footer">
                    <thead>
                        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                            <th style="width:25%">
                                <input type="checkbox" onchange="OnSelectStatus(this,'createStatus');" Id="allcreate" /> Select All
                            </th>
                            <th>Course Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="js-export-checkbox">
                                @Html.CheckBox("CBSC", new { @class = "createStatus" })
                            </td>
                            <td>
                                <label>CBSC</label>
                            </td>

                        </tr>
                        <tr>
                            <td class="js-export-checkbox">
                                @Html.CheckBox("Gujarat Board", new { @class = "createStatus" })
                            </td>
                            <td>
                                <label>Gujarat Board</label>
                            </td>

                        </tr>
                        <tr>
                            <td class="js-export-checkbox">
                                @Html.CheckBox("Gujarat Board", new { @class = "createStatus" })
                            </td>
                            <td>
                                <label>F.Y</label>
                            </td>

                        </tr>
                        <tr>
                            <td class="js-export-checkbox">
                                @Html.CheckBox("Gujarat Board", new { @class = "createStatus" })
                            </td>
                            <td>
                                <label>S.Y</label>
                            </td>

                        </tr>
                    </tbody>

                </table>
            </div>
            <div class="form-group">
                <div class="col-md-12" style="text-align: right;">
                    <br />
                    <a onclick="return SaveBrachCourse();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                        <span class="ladda-label">
                            Save
                        </span>
                        <span class="ladda-spinner"></span>
                    </a>
                    <a href="@Url.Action("PackageRightMaintenance","PackageRight", new { @PackageRightID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                        <span class="ladda-label">
                            Cancel
                        </span>
                        <span class="ladda-spinner"></span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

