@model Ashirvad.Data.StudentEntity
<form id="fStudentDetail">
    <div class="form-group" id="dInformation" style="padding:10px;padding-top:1px">
        <div class="row">
            @if (SessionContext.Instance.LoginUser.UserType == Ashirvad.Common.Enums.UserType.SuperAdmin)
            {
                <div class="col-md-3">
                    @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                    <select name="BranchName" id="BranchName" class="form-control requiredDDL select2" alt="Branch">
                        <option value="0">--Select Branch--</option>
                    </select>
                    @Html.HiddenFor(x => x.BranchInfo.BranchID)
                </div>
            }
            else
            {
                <div class="col-md-3" style="display: none;">
                    @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                    <select name="BranchName" id="BranchName" class="form-control" alt="Branch">
                        <option value="0">--Select Branch--</option>
                    </select>
                    @Html.HiddenFor(x => x.BranchInfo.BranchID)
                </div>
            }
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                @Html.Label("First Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control required", @alt = "First Name", autocomplete = "off" })
            </div>
            <div class="col-md-3">
                @Html.Label("Middle Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.MiddleName, new { @class = "form-control required", @alt = "Middle Name", autocomplete = "off" })
                @Html.HiddenFor(x => x.StudentID)
            </div>
            <div class="col-md-3">
                @Html.Label("Last Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control required", @alt = "Last Name", autocomplete = "off" })
            </div>
            <div class="col-md-3">
                @Html.Label("Birth Date", htmlAttributes: new { @class = "control-label" })
                <div id="datepickerbirth" class="input-group date" data-date-format="dd/mm/yyyy">
                    @if (Model == null)
                    {
                        @Html.TextBoxFor(x => x.DOB, null, new { @class = "form-control", @alt = "Birth Date", autocomplete = "off", @readonly = "readonly" })
                    }
                    else
                    {
                        if (Model.DOB == null)
                        {
                            @Html.TextBoxFor(x => x.DOB, new { @class = "form-control", autocomplete = "off", @readonly = "readonly", @alt = "Birth Date" })
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.DOB, Model.DOB.Value.ToString("dd/MM/yyyy"), new { @class = "form-control", autocomplete = "off", @readonly = "readonly", @alt = "Birth Date" })
                        }
                    }
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>            
        </div>
        <div class="row" style="margin-bottom:5px;">
            <div class="col-md-3">
                @Html.Label("Admission Date", htmlAttributes: new { @class = "control-label" })
                <div id="datepickeradmission" class="input-group date" data-date-format="dd/mm/yyyy">
                    @if (Model == null)
                    {
                        @Html.TextBoxFor(x => x.AdmissionDate, null, new { @class = "form-control", @alt = "Admission Date", autocomplete = "off", @readonly = "readonly" })
                    }
                    else
                    {
                        if (Model.AdmissionDate == null)
                        {
                            @Html.TextBoxFor(x => x.AdmissionDate, new { @class = "form-control", autocomplete = "off", @readonly = "readonly", @alt = "Admission Date" })
                        }
                        else
                        {
                            @Html.TextBoxFor(x => x.AdmissionDate, Model.AdmissionDate.Value.ToString("dd/MM/yyyy"), new { @class = "form-control", autocomplete = "off", @readonly = "readonly", @alt = "Admission Date" })
                        }
                    }
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Label("Select Course", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="CourseName" id="CourseName" class="form-control requiredDDL" alt="Course">
                    <option value="0">--Select Course--</option>
                </select>
                @Html.HiddenFor(x => x.BranchCourse.course_dtl_id)
            </div>
            <div class="col-md-3">
                @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="StandardName" id="StandardName" class="form-control requiredDDL" alt="Standard">
                    <option value="0">--Select Standard--</option>
                </select>
                @Html.HiddenFor(x => x.BranchClass.Class_dtl_id)
            </div>
            <div class="col-md-3">
                @Html.Label("Select School Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="SchoolName" id="SchoolName" class="form-control requiredDDL" alt="School Name">
                    <option value="0">--Select School Name--</option>
                </select>
                @Html.HiddenFor(x => x.SchoolInfo.SchoolID)
            </div>           
        </div>
        <div class="row">
            <div class="col-md-3">
                @Html.Label("Time of School", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="SchoolTimeDDL" id="SchoolTimeDDL" class="form-control requiredDDL" alt="School Time">
                    <option value="0">--Select School Time--</option>
                    <option value="1">Morning</option>
                    <option value="2">AfterNoon</option>
                </select>
                @Html.HiddenFor(x => x.SchoolTime)
            </div>
            <div class="col-md-3">
                @Html.Label("Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="BatchTime" id="BatchTime" class="form-control requiredDDL" alt="Batch Time">
                    <option value="0">--Select Batch Time--</option>
                    <option value="1">Morning</option>
                    <option value="2">AfterNoon</option>
                    <option value="3">Evening</option>
                </select>
                @Html.HiddenFor(x => x.BatchInfo.BatchType)
                @Html.HiddenFor(x => x.BatchInfo.BatchTime)
            </div>
            <div class="col-md-3">
                @Html.Label("Result of Last Year", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span><br />
                <table id="rdbResultofLastYear" class="radioboxlist form-control">
                    <tbody>
                        <tr>
                            <td>
                                <input type="radio" name="rdbResultofLastYear" @*onchange="lastyear(this)"*@ id="rowStaPass" value="1" checked />
                                <lable for="rowStaPass">Pass</lable>
                            </td>
                            <td>
                                <input type="radio" name="rdbResultofLastYear" @*onchange="lastyear(this)"*@ id="rowStaFail" value="2" style="margin-left:10px" />
                                <lable for="rowStaFail">Fail</lable>
                                @Html.HiddenFor(x => x.LastYearResult)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-3">
                @Html.Label("Percentage / Grade", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.Grade, new { @class = "form-control", @alt = "Percentage / Grade", autocomplete = "off" })
            </div>            
        </div>
        <div class="row" style="margin-top: 5px;">
            <div class="col-md-3">
                @Html.Label("Class Name of Last Year", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.LastYearClassName, new { @class = "form-control", @alt = "Class Name of Last Year", autocomplete = "off" })
            </div>
            <div class="col-md-3">
                @Html.Label("Contact No / Admission Form No", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.ContactNo, new { @class = "form-control required mobile", @alt = "ContactNo", autocomplete = "off", type = "number", @onchange = "CheckMobileno(this);" })
            </div>
            <div class="col-md-3">
                @Html.Label("Father's Occupation", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.StudentMaint.FatherOccupation, new { @class = "form-control", @alt = "Father's Occupation", autocomplete = "off" })
            </div>
            <div class="col-md-3">
                @Html.Label("Mother's Occupation", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.StudentMaint.MotherOccupation, new { @class = "form-control", @alt = "Mother's Occupation", autocomplete = "off" })
            </div>            
        </div>
        <div class="row">  
            <div class="col-md-3">
                @Html.Label("Status", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span><br />
                <table id="rdbResult" class="radioboxlist form-control">
                    <tbody>
                        <tr>
                            <td>
                                <input type="radio" name="Status" id="rowStaActive" value="1" checked />
                                <lable for="rowStaActive">Active</lable>
                            </td>
                            <td>
                                <input type="radio" name="Status" id="rowStaInactive" value="2" style="margin-left:10px" />
                                <lable for="rowStaInactive">Deactive</lable>
                                @Html.HiddenFor(x => x.RowStatus.RowStatusId)
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                @Html.Label("Address", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.Address, new { @class = "form-control required", @alt = "Address", autocomplete = "off" })
            </div>
            <div class="col-md-2" style="margin-top:10px;">
                @Html.Label("Upload Photo", htmlAttributes: new { @class = "control-label" })
                <input class="file-upload" alt="Student Image" id="fuStudentImage" name="ImageFile" type="file" accept="image/*" />
                @Html.HiddenFor(x => x.StudImage)
                @Html.HiddenFor(x => x.FileName)
                @Html.HiddenFor(x => x.FilePath)
                @Html.HiddenFor(x => x.Final_Year)
            </div>
            <div class="col-md-1" style="margin-top:5px;">
                @if (Model == null)
                {
                    <img CssClass="imgStud" Style="width: 80px; height: 80px; border: 1px solid #000;" id="imgStud" />
                }
                else
                {
                    if (Model.FilePath != "" && Model.FilePath != null)
                    {
                        <img CssClass="imgStud" src="@Model.FilePath" Style="width: 80px; height: 80px; border: 1px solid #000;" id="imgStud" />
                    }
                    else
                    {
                        <img CssClass="imgStud" Style="width: 80px; height: 80px; border: 1px solid #000;" id="imgStud" />
                    }
                }
            </div>
        </div>
        <br />
        <hr />
        <fieldset>
            <legend style="color: red; font-weight: 900;">Parent's Details :</legend>
            <div class="row">
                <div class="col-md-3">
                    @Html.Label("Parent's Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span><br />
                    @Html.TextBoxFor(x => x.StudentMaint.ParentName, new { @class = "form-control required", @alt = "Parent's Name", autocomplete = "off" })
                </div>
                <div class="col-md-3">
                    @Html.Label("Parent's Contact No (Login ID)", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span><br />
                    @Html.TextBoxFor(x => x.StudentMaint.ContactNo, new { @class = "form-control required mobile", @alt = "Parent's Contact No (Login ID)", autocomplete = "off",type = "number", @onchange = "CheckMobileno(this);" })
                </div>
                <div class="col-md-3">
                    @Html.Label("Password", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                    @Html.TextBoxFor(x => x.StudentPassword, new { @class = "form-control required", @alt = "Password", autocomplete = "off", @Id = "StudentPassword1" })
                    @Html.HiddenFor(x => x.UserID)
                    @Html.HiddenFor(x => x.StudentMaint.ParentID)
                    @Html.HiddenFor(x => x.StudentMaint.UserID)
                </div>
                <div class="col-md-3" style="display:none;">
                    @Html.Label("Password", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span><br />
                    @Html.TextBoxFor(x => x.StudentMaint.ParentPassword, new { @class = "form-control", @alt = "Password", autocomplete = "off", @Id = "ParentPassword1" })
                    @Html.HiddenFor(x => x.StudentPassword2)
                    @Html.HiddenFor(x => x.StudentMaint.ParentPassword2)
                    @Html.HiddenFor(x => x.StudentMaint.StudentID)
                </div>
                <div class="col-md-3 ManageStudentMasterCreate" style="text-align: right;margin-top:27px;">
                    <div id="savebtn">
                        <a onclick="return SaveStudent();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                            <span class="ladda-label">
                                Save
                            </span>
                            <span class="ladda-spinner"></span>
                        </a>
                    </div>
                   
                    <a href="@Url.Action("StudentMaintenance","Student", new { @studentID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                        <span class="ladda-label">
                            Cancel
                        </span>
                        <span class="ladda-spinner"></span>
                    </a>
                </div>
            </div>
        </fieldset>
    </div>
</form>