@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.StudentEntity>
@{
    Layout = null;
}

<div style="margin-top:10px;">

    <div class="col-md-4">
        @Html.Label("Course Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="CourseName" id="Courseddl" class="form-control requiredDDL" alt="Course Name">
            <option value="0">--Select Course Name--</option>
        </select>
      
    </div>
    <div class="col-md-4">
        @Html.Label("Class Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="StandardName" id="Standardddl" class="form-control requiredDDL" alt="Class Name">
            <option value="0">--Select Class Name--</option>
        </select>
       
      
    </div>
    <div class="col-md-4">
        @Html.Label("Year", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <select name="Year" id="Year" class="form-control requiredDDL" alt="Year Name">
            <option value="0">--Select Year--</option>
        </select>

    </div>
</div>
<div class="col-md-12" style="overflow-y:scroll;height:400px !important;" id="studentdiv">
    <input value="@Model.Count" id="datacount" hidden/>
    @if (Model.Count > 0)
    {
        <table style="width: 100%;" id="Studenttable" class="table table-striped dataTable no-footer">
            <thead>
                <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue;padding: 5px !important;">
                    <th>
                        <input type="checkbox" onchange="OnSelectStatus(this,'createStatus');" Id="allcreate" /> Select All
                    </th>
                    <th>
                        Student Photo
                    </th>
                    <th>
                        Student Name
                    </th>
                    <th>
                        Admission Date
                    </th>
                    <th>
                        Course
                    </th>
                    <th>
                        Standard
                    </th>
                    <th>
                        Batch Time
                    </th>
                    <th>
                        Contact No
                    </th>
                    <th>
                        Status
                    </th>
                    <th>
                        Year
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <input type="checkbox" onchange="checkstatus(this)" id="Createstatus" class="createStatus" />
                            @Html.HiddenFor(x=>item.StudentID)
                        </td>
                        <td>
                            @if (item.FilePath == null)
                            {
                                <img src="../ThemeData/images/Default.png" id="branchImg" style="height:60px;width:60px;margin-left:20px;" />
                            }
                            else
                            {
                                <img src="@item.FilePath" id="branchImg" style="height:60px;width:60px;margin-left:20px;" />
                            }
                        <td>@item.FirstName</td>
                        <td>
                            @if (item.AdmissionDate == null)
                            {

                            }
                            else
                            {
                                @item.AdmissionDate.Value.ToString("dd-MM-yyyy")
                            }
                        </td>
                        <td>@item.BranchCourse.course.CourseName</td>
                        <td>@item.BranchClass.Class.ClassName</td>
                        <td>@item.BatchInfo.BatchType</td>
                        <td>@item.ContactNo</td>
                        <td>@item.RowStatus.RowStatus</td>
                        <td>@item.Final_Year</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>
<div class="col-md-12" style="text-align: right;">
    <br />
    <a onclick="return TransferStudent();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
        <span class="ladda-label">
            Save
        </span>
        <span class="ladda-spinner"></span>
    </a>
    <a href="@Url.Action("StudentTransfer","Student")" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
        <span class="ladda-label">
            Cancel
        </span>
        <span class="ladda-spinner"></span>
    </a>
</div>
<script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>