@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.AttendanceEntity>
@{

    Layout = null;
}
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Attendance Date
            </th>
            <th>
                Standard
            </th>
            <th>
                Batch Time
            </th>
            <th>
                Show
            </th>
            <th>
                Delete
            </th>
        </tr>
    </thead>
    @if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AttendanceDate
                    @Html.HiddenFor(x => item.AttendanceID)
                </td>
                <td>
                    @item.Standard.Standard
                </td>
                <td>
                    @item.BatchTypeText
                </td>
                <td>
                    <a href="@Url.Action("GetAttendanceByID", "AttendanceRegister", new { @attendanceID = item.AttendanceID})">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                <td>
                    <a href="#" onclick="RemoveAttendance(@item.AttendanceID);">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>
            </tr>
        }
    }
</table>


<div class="form-group">
    <div class="col-md-12" style="text-align: right;">
        <a href="@Url.Action("Index","AttendanceRegister")" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
            <span class="ladda-label">
                Cancel
            </span>
            <span class="ladda-spinner"></span>
        </a>
        <a href="#" onclick="return SaveAttendance();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
            <span class="ladda-label">
                Save
            </span>
            <span class="ladda-spinner"></span>
        </a>
    </div>
</div>

<script src="~/ThemeData/plugins/datatables/jquery.dataTables.min.js"></script>
<script src="~/ThemeData/plugins/datatables/dataTables.bootstrap.min.js"></script>

<script>
    $(document).ready(function () {

        $('#studenttbl').DataTable({
            "bPaginate": false,
            "bLengthChange": false,
            "bFilter": true,
            "bInfo": true,
            "bAutoWidth": true
        });

    });
</script>



