@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.AttendanceEntity>
@{

    Layout = null;
}
<table style="width: 100%;" id="attendanceregistertable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Attendance Date
            </th>
            <th>
                Standard
            </th>
            <th>
                Batch Time
            </th>
            <th class="AttendanceRegisterCreate">
                Edit
            </th>
            <th class="AttendanceRegisterDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody></tbody>
    @*@if (Model != null)
    {
        foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.AttendanceDate.ToString("dd/MM/yyyy")
                    @Html.HiddenFor(x => item.AttendanceID)
                </td>
                <td>
                    @item.Standard.Standard
                </td>
                <td>
                    @item.BatchTypeText
                </td>
                <td>
                    <a href="@Url.Action("GetAttendanceByID", "AttendanceRegister", new { @attendanceID = item.AttendanceID})">
                        <img src="~/ThemeData/images/viewIcon.png" />
                    </a>
                </td>
                <td>
                    <a href="#" onclick="RemoveAttendance(@item.AttendanceID);">
                        <img src="~/ThemeData/images/delete.png" />
                    </a>
                </td>
            </tr>
        }
    }*@
</table>



