﻿@model Ashirvad.Data.CompetitionEntity
<form id="fCompetitionDetail">
    <div class="row" id="dInformation" style="padding-top:15px">
        <div class="col-md-12">
            <div class="col-md-3">
                @Html.Label("Competition Name", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.CompetitionName, new { @class = "form-control required", @alt = "Competition Name", autocomplete = "off" })
                @Html.HiddenFor(x => x.CompetitionID)
            </div>
            <div class="col-md-3">
                @Html.Label("Competition Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <div id="datepickertest" class="input-group date" data-date-format="dd/mm/yyyy">
                    @if (Model == null || Model.CompetitionDt.ToString("dd/MM/yyyy") == "01/01/0001" || Model.CompetitionDt.ToString("dd-MM-yyyy") == "01-01-0001")
                    {
                        @Html.TextBoxFor(x => x.CompetitionDt, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control required", @alt = "CompetitionDt Date", autocomplete = "off", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.CompetitionDt, Model.CompetitionDt.ToString("dd/MM/yyyy"), new { @class = "form-control required", autocomplete = "off", @readonly = "readonly", @alt = "CompetitionDt Date" })
                    }
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Label("Competition Start Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.CompetitionStartTime, null, new { @class = "form-control required readonly timeformat", @alt = "Start Time", autocomplete = "off", @type = "time" })
            </div>
            <div class="col-md-3">
                @Html.Label("Competition End Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.CompetitionEndTime, null, new { @class = "form-control required readonly timeformat", @alt = "End Time", autocomplete = "off", @type = "time" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">
                @Html.Label("Total Marks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.TotalMarks, new { @class = "form-control required", @alt = "Marks", autocomplete = "off" })
            </div>
            <div class="col-md-3">
                @Html.Label("Select Type", htmlAttributes: new { @class = "control-label" })
                <select name="Type" id="Type" class="form-control select2" alt="Type">
                    <option value="0">--Select Type--</option>
                    <option value="True">Upload Document</option>
                    <option value="False">Upload Link</option>
                </select>
                @Html.HiddenFor(x => x.DocType)
            </div>
            <div class="col-md-3" style="display:none" id="link">
                @Html.Label("Link", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.DocLink, new { @class = "form-control", @alt = "Link", autocomplete = "off" })
            </div>
            <div class="col-md-3" style="display:none" id="testpaper">
                @Html.Label("Uplolad Competition paper", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <input class="file-upload" alt="Thumbnail Image" id="fuPaperDoc" name="FileInfo" type="file" />
                @Html.HiddenFor(x => x.FilePath)
                @Html.HiddenFor(x => x.FileName)
            </div>
            <div class="col-md-3">
                @Html.Label("Status", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="Status" id="Status" class="form-control requiredDDL select2" alt="Status">
                    <option value="0">--Select Status--</option>
                    <option value="1">Active</option>
                    <option value="2">InActive</option>
                </select>
                @Html.HiddenFor(x => x.RowStatus.RowStatusId)
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Label("Competition Remarks", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @alt = "Test Remarks", autocomplete = "off" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 TestCompetitionEntryCreate" style="text-align: right; margin-top: 5PX">
                <a onclick="return SaveCompetition();" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>

    </div>
</form>