﻿@model Ashirvad.Data.TestEntity
<form id="fTestDetail">
    <div class="row" id="dInformation" style="padding-top:15px">
        <div class="col-md-12">

            <div class="col-md-3">
                @Html.Label("Competition Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <div id="datepickertest" class="input-group date" data-date-format="dd/mm/yyyy">
                    @if (Model == null || Model.TestDate.ToString("dd/MM/yyyy") == "01/01/0001" || Model.TestDate.ToString("dd-MM-yyyy") == "01-01-0001")
                    {
                        @Html.TextBoxFor(x => x.TestDate, DateTime.Now.ToString("dd/MM/yyyy"), new { @class = "form-control required", @alt = "Test Date", autocomplete = "off", @readonly = "readonly" })
                    }
                    else
                    {
                        @Html.TextBoxFor(x => x.TestDate, Model.TestDate.ToString("dd/MM/yyyy"), new { @class = "form-control required", autocomplete = "off", @readonly = "readonly", @alt = "Test Date" })
                    }
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
            </div>
            <div class="col-md-3">
                @Html.Label("Competition Start Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.TestStartTime, null, new { @class = "form-control required readonly timeformat", @alt = "Start Time", autocomplete = "off", @type = "time" })
            </div>
            <div class="col-md-3">
                @Html.Label("Competition End Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.TestEndTime, null, new { @class = "form-control required readonly timeformat", @alt = "End Time", autocomplete = "off", @type = "time" })
            </div>
            <div class="col-md-3">
                @Html.Label("Total Marks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.Marks, new { @class = "form-control required", @alt = "Marks", autocomplete = "off" })
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3">
                @Html.Label("Select Type", htmlAttributes: new { @class = "control-label" })
                <select name="Type" id="Type" class="form-control select2" alt="Type">
                    <option value="0">--Select Type--</option>
                    <option value="1">Upload Document</option>
                    <option value="2">Upload Link</option>
                </select>
                @Html.HiddenFor(x => x.test.PaperTypeID)
                @Html.HiddenFor(x => x.test.PaperType)
                @Html.HiddenFor(x => x.test.TestID, new { @class = "form-control", @Id = "test_id", autocomplete = "off" })
                @Html.HiddenFor(x => x.test.TestPaperID)
                @Html.HiddenFor(x => x.test.TestDate, new { @class = "form-control", @Id = "test_date", autocomplete = "off" })
            </div>
            <div class="col-md-3" style="display:none" id="link">
                @Html.Label("Link", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                @Html.TextBoxFor(x => x.test.DocLink, new { @class = "form-control", @alt = "Link", autocomplete = "off" })
            </div>
            <div class="col-md-3" style="display:none" id="testpaper">
                @Html.Label("Uplolad Competition paper", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <input class="file-upload" alt="Thumbnail Image" id="FileInfo" name="FileInfo" type="file" />
                @Html.HiddenFor(x => x.test.DocContentText)
                @Html.HiddenFor(x => x.test.DocContent)

                @Html.HiddenFor(x => x.test.FileName)
                @Html.HiddenFor(x => x.test.FilePath)
            </div>
            @*<div class="col-md-3">
                @Html.Label("Paper Remarks", htmlAttributes: new { @class = "control-label" })
                @Html.TextBoxFor(x => x.test.Remarks, new { @class = "form-control", @alt = "Paper Remarks", autocomplete = "off" })
            </div>*@
            <div class="col-md-3">
                @Html.Label("Status", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="Status" id="Status" class="form-control requiredDDL select2" alt="Status">
                    <option value="0">--Select Status--</option>
                    <option value="1">Active</option>
                    <option value="2">InActive</option>
                </select>
                @Html.HiddenFor(x => x.test.RowStatus.RowStatusId)
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12">
                @Html.Label("Competition Remarks", htmlAttributes: new { @class = "control-label" })
                @Html.TextAreaFor(x => x.Remarks, new { @class = "form-control", @alt = "Test Remarks", autocomplete = "off" })
            </div>
        </div>
        <div class="col-md-12">
            <div class="col-md-12 TestCompetitionEntryCreate" style="text-align: right; margin-top: 5PX">
                <a onclick="" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
                <a href="" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                    <span class="ladda-label">
                        Cancel
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </div>
        </div>

    </div>
</form>