@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.Model.CompetitionEntity>
@{
    ViewBag.Title = "Manage";
    int intSno = 0;
}
<table style="width: 100%;" id="competitionpapertable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            
            <th>
                Competition Name
            </th>
            <th>
                Competition Date
            </th>
            <th>
                Competition Start Time
            </th>
            <th>
                Competition End Time
            </th>
            <th>
                Competition Remarks
            </th>
            <th>
                Total Marks
            </th>
            <th style="text-align:center;" class="textalign">
                Document / Link
            </th>
            <th class="TestPaperEntryCreate">
                Edit
            </th>
            <th style="text-align:center;" class="textalign">
                View Student AnswerSheet
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {
            foreach (var item in Model)
            {
                
                var date = item.CompetitionDt.ToString("dd-MM-yyyy");
                intSno = intSno + 1;
                <tr>

                    <td>
                        @Html.DisplayFor(Model => item.CompetitionName)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => date)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.CompetitionStartTime)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.CompetitionEndTime)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.Remarks)
                    </td>
                    <td>
                        @Html.DisplayFor(Model => item.TotalMarks)
                    </td>
                    <td class="text-center">
                        @if (item.FileName == null)
                        {
                            <a href="@item.DocLink" target="_blank" style="color:blue;text-decoration:underline;">Go to Link</a>
                        }
                        else
                        {
                            <a href="@item.FilePath.Replace("https://mastermind.org.in", "")" download="@item.FileName">
                                <img src="~/ThemeData/images/icons8-desktop-download-24 (1).png" />
                            </a>
                        }
                    </td>
                    <td>
                        <a href="@item.FilePath.Replace("https://mastermind.org.in", "")" target="_blank">
                            <img src="~/ThemeData/images/viewIcon.png" />
                        </a>
                    </td>
                    <td class="text-center">
                        @Html.HiddenFor(x => item.CompetitionID)
                        <a href="@Url.Action("CompetitionAnsSheetMaintenance","CompetitionAnsDetails",new { @competitonID=item.CompetitionID })">
                            <img src="../ThemeData/images/tick.png" style="height:35px;width:35px" />
                        </a>
                    </td>
                </tr>
            }
        }

    </tbody>

</table>


