@using Ashirvad.Web.Controllers;
@model List<Ashirvad.Data.Model.CompetitionEntity>
@{
    ViewBag.Title = "Manage";
    int intSno = 0;
}
<table style="width: 100%;" id="competitionpapertable" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Competition Date
            </th>
            <th>
                Competition Time
            </th>
            <th>
                Competition Remarks
            </th>
            <th>
                Total Marks
            </th>
            <th style="text-align:center;" class="textalign">
                Document / Link
            </th>
            <th class="TestPaperEntryCreate">
                Edit
            </th>
            <th style="text-align:center;" class="textalign">
                View Student AnswerSheet
            </th>
            <th class="TestPaperEntryDelete">
                Delete
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            intSno = intSno + 1;
        <tr>
            <td>
                @intSno
            </td>
            <td>
                @Html.DisplayFor(Model => item.CompetitionName)

            </td>
            <td>
                @Html.DisplayFor(Model => item.CompetitionStartTime)

            </td>
            <td>
                @Html.DisplayFor(Model => item.CompetitionEndTime)

            </td>
            <td>
                @Html.DisplayFor(Model => item.CompetitionDt)
            </td>
            <td>
                @Html.DisplayFor(Model => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(Model => item.FileName)
            </td>
            <td>

                <a href="@Url.Action("Index", "Competiton", new { @CompetitionID= item.CompetitionID })">
                    <img src="~/image/Edit.png" />
                </a>
            </td>
            <td>
                <a href="javascript:void(0)" onclick="RemoveCompetiton('@item.CompetitionID')">
                    <img src="~/image/delete.png" />
                </a>
            </td>
        </tr>
        }
    </tbody>

</table>


