﻿@model Ashirvad.Data.RoleRightsEntity
<div class="col-md-12">
    <form id="fRoleRightDetail">
        <div id="drights">
            <div class="col-md-6">
                @Html.HiddenFor(x => x.RoleRightsId)
                @Html.HiddenFor(x => x.JasonData)
                @Html.Label("Role", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
                <select name="RoleName" id="RoleName" class="form-control requiredDDL" alt="Role">
                    <option value="0">--Select Role--</option>
                </select>
                @Html.HiddenFor(x => x.Roleinfo.RoleID)
            </div>

            <div class="form-group">
                <div class="col-md-6" style="text-align: right;">
                    <br />
                    <a class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                        <span onclick="return SaveRoleRight();" class="ladda-label">
                            Save
                        </span>
                        <span class="ladda-spinner"></span>
                    </a>
                    <a href="@Url.Action("RoleRightMaintenance","RoleRights", new { @RoleRightID=0 })" class="ladda-button mb-2 mr-2 btn btn-danger" data-style="expand-left">
                        <span class="ladda-label">
                            Cancel
                        </span>
                        <span class="ladda-spinner"></span>
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="col-md-12">
    <table style="width: 100%;" id="choiceList" class="table table-striped dataTable no-footer">
        <thead>
            <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
                <th>Page</th>
                <th>
                    <input type="checkbox" onchange="OnSelectStatus(this,'createStatus');" Id="allcreate" /> Create Status
                </th>

                <th>
                    <input type="checkbox" onchange="OnSelectStatus(this,'deletestatus');" Id="alldelete" /> Delete Status
                </th>
                <th>
                    <input type="checkbox" onchange="OnSelectStatus(this,'viewstatus');" Id="allview" /> View Status
                </th>
            </tr>
        </thead>
        <tbody>
            @if (Model.list.Count > 0)
                {
                    for (int i = 0; i < Model.list.Count; i++)
                    {

                        <tr>
                            <td>
                                @Model.list[i].PageInfo.Page
                                <input type="hidden" value="@Model.list[i].PageInfo.PageID" class="pagename" />
                                <input type="hidden" value="@Model.list[i].RoleRightsId" class="RoleRightsIdlist" />
                            </td>
                            <td class="js-export-checkbox">
                                @Html.CheckBoxFor(m => m.list[i].Createstatus, @Model.list[i].PageInfo.Createstatus ? (object)new { @class = "createStatus" } : (object)new { @class = "createStatus", @disabled = "disabled" })
                            </td>

                            <td class="js-export-checkbox">
                                @Html.CheckBoxFor(m => m.list[i].Deletestatus, @Model.list[i].PageInfo.Deletestatus ? (object)new { @class = "deletestatus" } : (object)new { @class = "deletestatus", @disabled = "disabled" })
                            </td>
                            <td class="js-export-checkbox">
                                @Html.CheckBoxFor(m => m.list[i].Viewstatus, @Model.list[i].PageInfo.Viewstatus ? (object)new { @class = "viewstatus" } : (object)new { @class = "viewstatus", @disabled = "disabled" })
                            </td>
                        </tr>
                    }
                }
                else
                {
                    for (int i = 0; i < Model.PageList.Count; i++)
                    {

                        <tr>
                            <td>
                                @Model.PageList[i].Page
                                <input type="hidden" value="@Model.PageList[i].PageID" class="pagename" />
                                <input type="hidden" value="0" class="RoleRightsIdlist" />
                            </td>
                          
                            <td class="js-export-checkbox">
                                @if (Model.PageList[i].Createstatus)
                                {
                                    <input type="checkbox" id="Createstatus" class="createStatus" />
                                }
                                else
                                {
                                    <input type="checkbox" id="Createstatus" class="createStatus" disabled/>
                                }

                            </td>

                            <td class="js-export-checkbox">
                                @if (Model.PageList[i].Createstatus)
                                {
                                    <input type="checkbox" id="Deletestatus" class="deletestatus" />
                                }
                                else
                                {
                                    <input type="checkbox" id="Deletestatus" class="deletestatus" disabled />
                                }
                            </td>
                            <td class="js-export-checkbox">
                                @if (Model.PageList[i].Createstatus)
                                {<input type="checkbox" id="Viewstatus" class="viewstatus" />}
                                else
                                {
                                    <input type="checkbox" id="Viewstatus" class="viewstatus" disabled />
                                }


                            </td>
                        </tr>
                                }
                }

        </tbody>

    </table>
</div>
