<div class="row">
    <div class="col-md-3">
        @Html.Label("Select Branch", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("Branch", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Branch---", Value = "-1" },
                        new SelectListItem{ Text="Branch", Value = "1" },
                        }, new { @class = "form-control", id = "Branch" })

    </div>
    <div class="col-md-3">
        @Html.Label("Select Standard", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("Standard", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Standard---", Value = "-1" },
                        new SelectListItem{ Text="Standard", Value = "1" },
                        }, new { @class = "form-control", id = "Standard" })
    </div>
    <div class="col-md-3">
        @Html.Label("Select Batch Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("BatchTime", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Batch-Time---", Value = "-1" },
                        new SelectListItem{ Text="Morning", Value = "1" },
                        new SelectListItem{ Text="AfterNoon", Value = "2" },
                        new SelectListItem{ Text="Evening", Value = "3" },
                        }, new { @class = "form-control", id = "BatchTime" })
    </div>
    <div class="col-md-3">
        <label>Subject<span class="required">* </span></label>
        <asp:ListBox ID="ddlsubject" runat="server" CssClass="form-control select2" TabIndex="3" data-placeholder="Select Subject">
        </asp:ListBox>
        <asp:RequiredFieldValidator ID="RequiredFieldValidator7" runat="server" ControlToValidate="ddlsubject"
                                    Display="Dynamic" ErrorMessage="(*) Required" SetFocusOnError="true" ForeColor="Red"
                                    CssClass="validate" InitialValue="NA"></asp:RequiredFieldValidator>
        @Html.Label("Select Subject", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.DropDownList("Subject", new List<SelectListItem>
                       {
                       new SelectListItem{ Text="---Select-Subject---", Value = "-1" },
                        new SelectListItem{ Text="Subject", Value = "1" },
                        }, new { @class = "form-control", id = "Subject" })
    </div>

</div>
<div class="row" style="margin-top: 5px;">
    <div class="col-md-3">
        @Html.Label("Total Marks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.TextBox("Marks", null, new { @class = "form-control", autocomplete = "off" })
    </div>
    <div class="col-md-3">
        @Html.Label("Test Date", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <div id="datepickertest" class="input-group date" data-date-format="dd/mm/yyyy">
            @if (Model == null)
            {
                @Html.TextBox("Test Date", null, new { @class = "form-control", @alt = "Test Date", autocomplete = "off", @readonly = "readonly" })
            }
            else
            {
                @Html.TextBox("Test Date",null, new { @class = "form-control", autocomplete = "off", @readonly = "readonly", @alt = "Test Date" })
            }
            <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
        </div>
    </div>
    <div class="col-md-3">
        @Html.Label("Test Start Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            @Html.TextBox("StartTime", null, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>
    <div class="col-md-3">
        @Html.Label("Test End Time", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
            @Html.TextBox("EndTime", null, new { @class = "form-control", autocomplete = "off" })
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        @Html.Label("Remarks", htmlAttributes: new { @class = "control-label" })<span style="color:red">*</span>
        @Html.TextBox("Remarks", null, new { @class = "form-control", autocomplete = "off" })
    </div>
    <div class="col-md-3" style="text-align: right; margin-top: 27PX">
        <button class="btn btn-danger" OnClick="btnDelete_Click">Cancel</button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-primary" OnClick="btnSave_Click">Save</button>
        <button class="btn btn-primary" OnClick="btnUpdate_Click">Update</button>
    </div>
</div>
