@model List<Ashirvad.Data.CompetitionRankEntity>
@{
    Layout = null;
    string message = ViewBag.Message;
    string status = ViewBag.Status;
}
<input type="hidden" id="message" value="@message" />
<input type="hidden" id="status" value="@status" />
<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Branch
            </th>
            <th>
                Course
            </th>
            <th>
                Standard
            </th>
            <th>
                Student Name
            </th>
            <th>
                Rank
            </th>
            <th>
                Action
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model?.Count > 0)
        {

            foreach (var item in Model)
            {
        <tr>
            <td>
                @item.branchInfo.BranchName
                @Html.HiddenFor(x => item.branchInfo.BranchID)
            </td>
            <td>
                @item.studentInfo.BranchClass.BranchCourse.course.CourseName
                @Html.HiddenFor(x => item.studentInfo.BranchClass.BranchCourse.course.CourseID)
            </td>
            <td>
                @item.studentInfo.BranchClass.Class.ClassName
                @Html.HiddenFor(x => item.studentInfo.BranchClass.Class.ClassID)
            </td>
            <td>
                @item.studentInfo.FirstName @item.studentInfo.LastName
                @Html.HiddenFor(x => item.studentInfo.StudentID)
                @Html.HiddenFor(x => item.competitionInfo.CompetitionID)
                @Html.HiddenFor(x => item.CompetitionRankId)
            </td>
            <td>
                @Html.TextBoxFor(x => item.competitionRank, new { @class = "form-control required", @alt = "Remarks",@Id="Rank_"+item.CompetitionRankId, autocomplete = "off" })
            </td>
            <td>
            <td>
                <a onclick="UpdateCompetitionRank('@item.competitionInfo.CompetitionID', '@item.CompetitionRankId')" class="ladda-button mb-2 mr-2 btn btn-primary" data-style="expand-left">
                    <span class="ladda-label">
                        Save
                    </span>
                    <span class="ladda-spinner"></span>
                </a>
            </td>
            </td>
        </tr>
            }
        }
    </tbody>
</table>
