@model List<Ashirvad.Data.ToDoEntity>
<div class="modal modal_multi anaesthetics-modal" id="myModal">
    <div class="modal-content">
        <div class="modal-header">

            <strong id="EmpTitle">View To-Do Register</strong>
            <button class="close close-icon" onclick="onclosemodel('myModal')" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body" id="viewpreventive">

        </div>
    </div>
</div>

<table style="width: 100%;" id="studenttbl" class="table table-striped dataTable no-footer">
    <thead>
        <tr style="background-color:#005cbf;font-style:inherit;color:aliceblue">
            <th>
                Branch Name
            </th>
            <th>
                Task Date
            </th>
            <th>
                User Name
            </th>
            <th>
                Document
            </th>
            <th>
                Task Description
            </th>
            <th>
                Edit
            </th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.BranchInfo.BranchName
            </td>
            <td>
                @item.ToDoDate.ToString("dd/MM/yyyy")
            </td>
            <td>
                @item.UserInfo.Username
                @Html.HiddenFor(x => item.UserInfo.UserID)
            </td>
            <td>
                @item.ToDoFileName
            </td>
            <td>
                @item.ToDoDescription
            </td>
            <td>
                <a href="#" onclick="return EditToDo('@item.ToDoID');">
                    <img src="~/ThemeData/images/viewIcon.png" />
                </a>
            </td>
        </tr>
    }
</table>




