@model Ashirvad.Data.Model.WebsiteModel
@{
    ViewBag.Title = "Teacher";
}

<!-- START SECTION BREADCRUMB -->
<section class="page-title-light breadcrumb_section parallax_bg overlay_bg_50" data-parallax-bg-image="../../Themedata/assets/images/pexels-max-fischer-5212326.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-sm-6">
                <div class="page-title">
                    <h1>Teacher</h1>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb justify-content-sm-end">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Teacher</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION BANNER -->
<!-- START SECTION TEACHER -->
<section class="small_pt">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6 col-lg-8">
                <div class="text-center text_white animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                    <div class="heading_s1 heading_light text-center">
                        <h2>Our Teachers</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            @foreach (var teacher in Model.facultyEntities)
            {
                <div class="col-lg-3 col-sm-6">
                    <div class="team_box team_style1 box_shadow1 animation" data-animation="fadeInUp" data-animation-delay="0.01s">
                        <div class="team_img">
                            <img src="@teacher.FilePath" class="facultyimage" onerror="this.src='/Themedata/assets/images/noimage.png';" alt="facultyimage" height="240" width="360">
                            <ul class="list_none social_icons social_white">
                                <li><a href="#"><i class="ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="ion-social-twitter"></i></a></li>
                                <li><a href="#"><i class="ion-social-googleplus"></i></a></li>
                                <li><a href="#"><i class="ion-social-instagram-outline"></i></a></li>
                            </ul>
                        </div>
                        <div class="team_title radius_lbrb_10 text-center">
                            <h5><a href="@Url.Action("TeacherDetail", "TeacherDetail", new { @branchID = 0, @CourseID = 0, @ClassID = 0, @subjectID = 0, @facultyID = teacher.FacultyID })">@teacher.staff.Name</a></h5>
                            <span>@teacher.branchSubject.Subject.SubjectName Teacher</span>
                            <h6>@teacher.BranchInfo.BranchName</h6>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</section>
<!-- END SECTION TEACHER -->
<!-- END SECTION CALL TO ACTION -->
<section class="bg_default small_pt small_pb">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-8">
                <div class="text_white cta_section">
                    <div class="medium_divider d-block d-md-none"></div>
                    <div class="heading_s1 heading_light">
                        <h2>Get The Coaching Training Today!</h2>
                    </div>
                    <p>If you are going to use a passage of embarrassing hidden in the middle of text</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-md-right">
                    <a href="#" class="btn btn-outline-white">Get Started</a>
                </div>
                <div class="medium_divider d-block d-md-none"></div>
            </div>
        </div>
    </div>
</section>
<!-- END SECTION CALL TO ACTION -->
@section Scripts {
    <script src="~/Scripts/app/faculty.js"></script>
}